<template>
  <b-row>
    <b-col cols="12">
      <b-card :header="getText('create') + ' ' + getText('advertisement')">
        <b-input-group class="mb-3">
          <b-input-group-prepend>
            <b-input-group-text><i class="icon-user"/></b-input-group-text>
          </b-input-group-prepend>
          <b-form-file
            v-model="advertisementImage"
            :placeholder="getText('imagePlaceholder')"
            ref="advertisementImageRef"
            @change="setImage($event)"/>

          <ImageValidation
            :value="advertisementImage"
            @validImage="setValidityImage"/>
        </b-input-group>

        <div v-if="validImage">
          <img
            class="authImage"
            :src="B64AdvertisementImage">
        </div>

        <b-input-group class="mb-3">
          <b-input-group-prepend>
            <b-input-group-text><i class="icon-user"/></b-input-group-text>
          </b-input-group-prepend>
          <b-form-file
            v-model="advertisementLogo"
            :placeholder="getText('logoPlaceholder')"
            ref="advertisementLogoRef"
            @change="setImage($event)"/>

          <ImageValidation
            :value="advertisementLogo"
            @validImage="setValidityLogo"/>
        </b-input-group>

        <div v-if="validLogo">
          <img
            class="authImage"
            :src="B64AdvertisementLogo">
        </div>

        <b-input-group class="mb-3">
          <b-input-group-prepend>
            <b-input-group-text><i class="icon-layers"/></b-input-group-text>
          </b-input-group-prepend>
          <b-form-select
            v-model="chosenCarTypes"
            :options="carTypes"
            multiple/>
          <b-input-group-append>
            <b-input-group-text>{{ getText('carTypes') }}</b-input-group-text>
          </b-input-group-append>
        </b-input-group>

        <form-builder :input-fields="inputFields"/>

        <b-btn
          variant="primary"
          :disabled="blockSubmission"
          v-show="!blockSubmission"
          @click.stop.prevent="submit">{{ getText('create') }}
        </b-btn>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import { createAdvertisement } from '@/services/advertisementAdminService'
  import { fetchCarTypes } from '@/services/carTypeAdminService'
  import InputFields from '@/models/inputFields/createAdvertisement'
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import ImageValidation from '@/components/backoffice/form/validations/ImageValidation'
  import ImageUpload from '@/models/ImageUpload'
  import { advertisementCreateText } from '../../text/admin/advertisements'
  import BFormSelect from 'bootstrap-vue/src/components/form-select/form-select'
  import BInputGroup from 'bootstrap-vue/src/components/input-group/input-group'
  import BInputGroupAppend from 'bootstrap-vue/src/components/input-group/input-group-append'
  import BInputGroupText from 'bootstrap-vue/src/components/input-group/input-group-text'

  export default {
    name: 'AdvertisementCreate',
    components: { BInputGroupText, BInputGroupAppend, BInputGroup, BFormSelect, FormBuilder, ImageValidation },
    props: {
      rejectionMessage: {
        type: String,
        default: '',
        required: false
      }
    },
    data () {
      return {
        inputFields: InputFields,
        blockSubmission: true,
        formData: undefined,
        advertisementImage: undefined,
        advertisementLogo: undefined,
        validImage: undefined,
        validLogo: undefined,
        B64AdvertisementImage: undefined,
        B64AdvertisementLogo: undefined,
        carTypes: [],
        chosenCarTypes: []
      }
    },
    methods: {
      setValidityImage (value) {
        this.validImage = value
        if (value) {
          this.uploadImage()
        }
      },
      setValidityLogo (value) {
        this.validLogo = value
        if (value) {
          this.uploadLogo()
        }
      },
      setImage (event) {
        this.advertisementImage = ImageUpload.getImage(event)
        if (this.advertisementImage === undefined) {
          this.clearImageFile()
        }
      },
      setLogo (event) {
        this.advertisementLogo = ImageUpload.getImage(event)
        if (this.advertisementLogo === undefined) {
          this.clearLogoFile()
        }
      },
      async uploadLogo () {
        this.B64AdvertisementLogo = await ImageUpload.getBase64OfImage(this.advertisementLogo)
      },
      async uploadImage () {
        this.B64AdvertisementImage = await ImageUpload.getBase64OfImage(this.advertisementImage)
      },
      clearLogoFile () {
        this.$refs['advertisementLogoRef'].reset()
        this.B64AdvertisementLogo = undefined
      },
      clearImageFile () {
        this.$refs['advertisementImageRef'].reset()
        this.B64AdvertisementImage = undefined
      },
      async submit () {
        if (this.blockSubmission) {
          return
        }

        await createAdvertisement(
          {
            ...this.formData,
            image: this.B64AdvertisementImage,
            logo: this.B64AdvertisementLogo,
            carTypes: this.chosenCarTypes
          },
          () => this.$router.push({ name: 'AdvertisementIndex' }),
          this.handleError
        )
      }
    },
    computed: {
      textData () { return advertisementCreateText }
    },
    watch: {
      validImage: {
        handler: function () {
          this.blockSubmission = !this.validImage || !this.validLogo
        },
        deep: true
      }
    },
    async beforeCreate () {
      this.carTypes = (await fetchCarTypes()).map(carType => {
        return {
          value: parseInt(carType['id']),
          text: carType['name']
        }
      })
    }
  }
</script>

<style scoped>

</style>
