<template>
  <b-row>
    <b-col cols="8">
      <b-card
        :header="getText('edit') + ' ' + getText('advertisement')"
        v-if="advertisement">
        <table class="table">
          <div v-if="validImage || validLogo">
            <img
              class="authImage"
              :src="advertisement['image'] || originalData['image']">
            <img
              class="authImage"
              :src="advertisement['logo'] || originalData['logo']">
          </div>
          <tr>
            <th>Id</th>
            <td>{{ advertisement['id'] }}</td>
          </tr>
          <tr>
            <th>{{ getText('subscribedCars') }}</th>
            <td>{{ advertisement['subscribedCars'] }}</td>
          </tr>
          <tr>
            <th>{{ getText('title') }}</th>
            <td>
              <b-form-input
                v-model.trim="advertisement['title']"/>
              <span
                v-show="!validTitle"
                class="validation-warning col-12">{{ getText('errorMessages')['invalidTitle'] }}</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('image') }}</th>
            <td>
              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-user"/></b-input-group-text>
                </b-input-group-prepend>
                <b-form-file
                  v-model="advertisementImage"
                  :placeholder="getText('imagePlaceholder')"
                  ref="advertisementImageRef"
                  @change="setImage($event)"/>

                <ImageValidation
                  :value="advertisementImage"
                  @validImage="setValidityImage"/>
              </b-input-group>
            </td>
          </tr>
          <tr>
            <th>{{ getText('logo') }}</th>
            <td>
              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-user"/></b-input-group-text>
                </b-input-group-prepend>
                <b-form-file
                  v-model="advertisementLogo"
                  :placeholder="getText('logoPlaceholder')"
                  ref="advertisementLogoRef"
                  @change="setLogo($event)"/>

                <ImageValidation
                  :value="advertisementLogo"
                  @validImage="setValidityLogo"/>
              </b-input-group>
            </td>
          </tr>
          <tr>
            <th>
              {{ getText('carTypes') }}
            </th>
            <td>
              <b-input-group class="mb-3">
                <b-input-group-prepend>
                  <b-input-group-text><i class="icon-layers"/></b-input-group-text>
                </b-input-group-prepend>
                <b-form-select
                  v-model="advertisement['carTypes']"
                  :options="carTypes"
                  multiple/>
                <b-input-group-append>
                  <b-input-group-text>Car Types</b-input-group-text>
                </b-input-group-append>
              </b-input-group>
            </td>
          </tr>
          <tr>
            <th>{{ getText('compensation') }}</th>
            <td>
              <b-form-input
                type="number"
                step="0.01"
                min="0.00"
                :max="Number.MAX_VALUE"
                v-model.number="advertisement['compensation']"/>
              <span
                v-show="!validCompensation"
                class="validation-warning col-12">{{ getText('errorMessages')['invalidCompensation']['start'] }} 0 {{ getText('errorMessages')['invalidCompensation']['end'] }} 0.01.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('duration') }}</th>
            <td>
              <b-form-input
                type="number"
                step="1"
                min="1"
                max="4"
                v-model.number="advertisement['duration']"/>
              <span
                v-show="!validDuration"
                class="validation-warning col-12">{{ getText('errorMessages')['invalidDuration']['start'] }} 1
                {{ getText('errorMessages')['invalidDuration']['middle'] }} 4{{ getText('errorMessages')['invalidDuration']['end'] }} 1.
              </span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('start') }}</th>
            <td>
              <b-form-input
                type="datetime-local"
                v-model.trim="advertisement['start']"/>
              <span
                class="validation-warning"
                v-show="!validDates">{{ getText('errorMessages')['invalidStartDate'] }}</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('end') }}</th>
            <td>
              <b-form-input
                type="datetime-local"
                v-model.trim="advertisement['end']"/>
              <span
                class="validation-warning"
                v-show="!validDates">{{ getText('errorMessages')['invalidEndDate'] }}</span>
            </td>
          </tr>
          <b-btn
            variant="primary"
            :disabled="isOriginal"
            v-show="!isOriginal"
            @click.stop.prevent="submit">{{ getText('update') }}
          </b-btn>
        </table>
      </b-card>
    </b-col>
    <HistoryActionsTable
      v-if="(advertisement || {})['history']"
      :items="advertisement['history']"/>
  </b-row>
</template>

<script>
  import { camelcaseToSpaceSeparated, capitalize } from '@/helpers/stringFilters'
  import { fetchAdvertisementDetail, updateAdvertisement } from '@/services/advertisementAdminService'
  import { fetchCarTypes } from '@/services/carTypeAdminService'
  import ImageValidation from '@/components/backoffice/form/validations/ImageValidation'
  import ImageUpload from '@/models/ImageUpload'
  import DisplayNameValidation from '../../form/validations/DisplayNameValidation'
  import { validDisplayNameRegex } from '../../../../helpers/formConstants'
  import HistoryActionsTable from './HistoryActionsTable'
  import { advertisementEditText } from '../../text/admin/advertisements'

  export default {
    name: 'AdvertisementEdit',
    components: { HistoryActionsTable, DisplayNameValidation, ImageValidation },
    props: {
      advertisementId: {
        type: Number,
        default: 0,
        required: true
      }
    },
    data () {
      return {
        originalData: undefined,
        advertisement: undefined,
        nonEditable: ['id', 'history', 'subscribedCars'],
        advertisementImage: undefined,
        validImage: true,
        advertisementLogo: undefined,
        validLogo: true,
        carTypes: []
      }
    },
    methods: {
      setValidityImage (value) {
        this.validImage = value
        if (value) {
          this.uploadImage()
        }
      },
      setValidityLogo (value) {
        this.validLogo = value
        if (value) {
          this.uploadLogo()
        }
      },
      setImage (event) {
        this.advertisementImage = ImageUpload.getImage(event)
        if (this.advertisementImage === undefined) {
          this.clearImageFile()
        }
      },
      setLogo (event) {
        this.advertisementLogo = ImageUpload.getImage(event)
        if (this.advertisementLogo === undefined) {
          this.clearLogoFile()
        }
      },
      async uploadImage () {
        this.advertisement['image'] = await ImageUpload.getBase64OfImage(this.advertisementImage)
      },
      async uploadLogo () {
        this.advertisement['logo'] = await ImageUpload.getBase64OfImage(this.advertisementLogo)
      },
      clearImageFile () {
        this.$refs['advertisementImageRef'].reset()
        this.advertisement['image'] = undefined
      },
      clearLogoFile () {
        this.$refs['advertisementLogoRef'].reset()
        this.advertisement['logo'] = undefined
      },
      async setOriginalData () {
        if (!this.advertisementId || !this.$store.getters['auth/userId']) {
          this.$router.go(-1)
          return
        }
        this.advertisement = await fetchAdvertisementDetail({
          id: this.advertisementId,
          userId: this.$store.getters['auth/userId']
        })
        this.advertisement['duration'] = this.advertisement['duration'].toString()
        this.advertisement['compensation'] = this.advertisement['compensation'].toString()
        this.advertisement['start'] = moment(this.advertisement['start']).format('YYYY-MM-DDTHH:mm')
        this.advertisement['end'] = moment(this.advertisement['end']).format('YYYY-MM-DDTHH:mm')
        this.advertisement['carTypes'] = this.advertisement['carTypes'].map(carType => parseInt(carType['id']))
        this.originalData = Object.assign({}, this.advertisement)

        this.carTypes = (await fetchCarTypes()).map(carType => {
          return {
            value: parseInt(carType['id']),
            text: carType['name']
          }
        })
      },
      async submit () {
        if (!this.isValid) {
          return
        }

        await updateAdvertisement(
          {
            ...this.advertisement,
            image: this.advertisement['image'] || this.originalData['image'],
            logo: this.advertisement['logo'] || this.originalData['logo']
          },
          () => this.$router.push({ name: 'AdvertisementIndex' }),
          this.handleError
        )
      },
      checkStep (value, step) {
        const precision = 0.001
        let x = value % step
        if (x <= precision) return true
        return ((x + precision) % step) <= precision
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize
    },
    computed: {
      isOriginal () {
        return JSON.stringify(this.originalData) === JSON.stringify(this.advertisement)
      },
      validDates () {
        if (this.advertisement['start'] === this.originalData['start'] &&
          this.advertisement['end'] === this.originalData['end']) return true

        const start = moment(this.advertisement['start'])
        const end = moment(this.advertisement['end'])
        if (!start.isValid() || !end.isValid()) {
          return false
        }
        return start.isAfter(moment()) && end.isAfter(start)
      },
      validCompensation () {
        if (isNaN(this.advertisement['compensation'])) {
          return false
        }
        const numberValue = Number(this.advertisement['compensation'])
        return numberValue >= 0.00 && numberValue <= Number.MAX_VALUE && this.checkStep(numberValue, 0.01)
      },
      validDuration () {
        if (isNaN(this.advertisement['duration'])) {
          return false
        }
        const numberValue = Number(this.advertisement['duration'])
        return numberValue >= 0 && numberValue <= 4 && this.checkStep(numberValue, 0.01)
      },
      validTitle () {
        if (typeof this.advertisement['title'] !== 'string') {
          return false
        }

        return validDisplayNameRegex.test(this.advertisement['title'])
      },
      isValid () {
        return !this.isOriginal && this.validDates && this.validCompensation && this.validDuration && this.validImage &&
          this.validTitle
      },
      textData () {
        return advertisementEditText
      }
    },
    async created () {
      if (!this.advertisementId || this.advertisementId === 0) {
        this.$router.go(-1)
        return
      }
      await this.setOriginalData()
    }
  }
</script>

<style scoped>

</style>
