<template>
  <b-col cols="4">
    <transition name="slide">
      <b-card :header="getText('captionPrepend') + caption">
        <b-row v-if="!!items.length">
          <b-col
            md="6"
            class="my-1">
            <b-form-group
              label-cols="3"
              :label="getText('filter')"
              class="mb-0">
              <b-input-group>
                <b-form-input
                  v-model="filter"
                  :placeholder="getText('searchPlaceholder')"/>
                <b-input-group-append>
                  <b-btn
                    :disabled="!filter"
                    @click="filter = ''">{{ getText('clear') }}
                  </b-btn>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col
            md="6"
            class="my-1">
            <b-form-group
              label-cols="3"
              :label="getText('sort')"
              class="mb-0">
              <b-input-group>
                <b-form-select
                  v-model="sortBy"
                  :options="sortOptions">
                  <option
                    slot="first"
                    :value="null">-- {{ getText('none') }} --
                  </option>
                </b-form-select>
                <b-form-select
                  :disabled="!sortBy"
                  v-model="sortDesc"
                  slot="append">
                  <option :value="false">{{ getText('asc') }}</option>
                  <option :value="true">{{ getText('desc') }}</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col
            md="6"
            class="my-1">
            <b-form-group
              label-cols="3"
              :label="getText('sortDirection')"
              class="mb-0">
              <b-input-group>
                <b-form-select
                  v-model="sortDirection"
                  slot="append">
                  <option value="asc">{{ getText('asc') }}</option>
                  <option value="desc">{{ getText('desc') }}</option>
                  <option value="last">{{ getText('last') }}</option>
                </b-form-select>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col
            md="6"
            class="my-1">
            <b-form-group
              label-cols="3"
              :label="getText('perPage')"
              class="mb-0">
              <b-form-select
                :options="pageOptions"
                v-model="perPage"/>
            </b-form-group>
          </b-col>
        </b-row>

        <b-table
          :fields="!!items.length ? fields : []"
          hover
          striped
          bordered
          small
          fixed
          responsive="sm"
          :items="items"
          :current-page="currentPage"
          :per-page="perPage"
          show-empty
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"/>
        <nav>
          <b-pagination
            size="sm"
            :total-rows="totalRows"
            :per-page="perPage"
            v-model="currentPage"
            prev-text="Prev"
            next-text="Next"
            hide-goto-end-buttons/>
        </nav>
      </b-card>
    </transition>
  </b-col>
</template>

<script>
  import {formatDateTime} from '../../../../helpers/stringFilters'
  import {historyActionsTableText} from '../../text/admin/advertisements'

  export default {
    name: 'HistoryActionsTable',
    props: {
      items: {
        type: Array,
        default: () => {
          return []
        },
        required: true
      }
    },
    data: () => {
      return {
        caption: 'History actions',
        fields: [
          {
            key: 'displayName',
            label: 'Display name',
            sortable: true
          },
          {
            key: 'action',
            label: 'Action',
            sortable: true
          },
          {
            key: 'createdAt',
            label: 'Created at',
            formatter: (val) => formatDateTime(val),
            sortable: true
          }
        ],
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        totalRows: 0
      }
    },
    methods: {
      onFiltered (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    computed: {
      sortOptions () {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      },
      getRowCount () {
        return this.items.length
      },
      textData () {
        return historyActionsTableText
      }
    },
    mounted () {
      this.caption = this.getText('historyActions')
      this.fields[0].label = this.getText('displayName')
      this.fields[1].label = this.getText('action')
      this.fields[2].label = this.getText('createdAt')
    }
  }
</script>

<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
