<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card :header="getText('captionPrepend') + caption">
          <b-row>
            <b-col
              cols="12"
              class="my-1">
              <b-button
                variant="success"
                class="float-right"
                :to="{name: 'AdvertisementCreate'}">{{ getText('create') }} {{ getText('advertisement') }}
              </b-button>
            </b-col>
          </b-row>
          <b-row v-if="!!items.length">
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('filter')"
                class="mb-0">
                <b-input-group>
                  <b-form-input
                    v-model="filter"
                    :placeholder="getText('searchPlaceholder')"/>
                  <b-input-group-append>
                    <b-btn
                      :disabled="!filter"
                      @click="filter = ''">{{ getText('clear') }}
                    </b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('sort')"
                class="mb-0">
                <b-input-group>
                  <b-form-select
                    v-model="sortBy"
                    :options="sortOptions">
                    <option
                      slot="first"
                      :value="null">-- {{ getText('none') }} --
                    </option>
                  </b-form-select>
                  <b-form-select
                    :disabled="!sortBy"
                    v-model="sortDesc"
                    slot="append">
                    <option :value="false">{{ getText('asc') }}</option>
                    <option :value="true">{{ getText('desc') }}</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('sortDirection')"
                class="mb-0">
                <b-input-group>
                  <b-form-select
                    v-model="sortDirection"
                    slot="append">
                    <option value="asc">{{ getText('asc') }}</option>
                    <option value="desc">{{ getText('desc') }}</option>
                    <option value="last">{{ getText('last') }}</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('perPage')"
                class="mb-0">
                <b-form-select
                  :options="pageOptions"
                  v-model="perPage"/>
              </b-form-group>
            </b-col>
          </b-row>

          <b-table
            :fields="!!items.length ? fields : []"
            hover
            striped
            bordered
            small
            fixed
            responsive="sm"
            :current-page="currentPage"
            :items="items"
            :per-page="perPage"
            show-empty
            :filter="filter"
            @row-clicked="rowClicked"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered">
            <template
              slot="options"
              slot-scope="data">
              <b-button
                class="w-100"
                @click.stop.prevent="$router.push({ name: 'AdvertisementDelete', params: { tier: data.item } })">
                <i class="icon-trash"/>
              </b-button>
            </template>
          </b-table>
          <nav>
            <b-pagination
              size="sm"
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              prev-text="Prev"
              next-text="Next"
              hide-goto-end-buttons/>
          </nav>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
  import {fetchAdvertisements} from '@/services/advertisementAdminService'
  import {formatDateTime} from '../../../../helpers/stringFilters'
  import {advertisementIndexText} from '../../text/admin/advertisements'

  export default {
    name: 'AdvertisementIndex',
    data: () => {
      return {
        caption: 'Advertisements',
        fields: [
          {
            key: 'title',
            label: 'Title',
            sortable: true
          },
          {
            key: 'compensation',
            label: 'Compensation',
            sortable: true
          },
          {
            key: 'duration',
            label: 'Duration',
            sortable: false
          },
          {
            key: 'start',
            label: 'Start',
            formatter: (item) => formatDateTime(item),
            sortable: false
          },
          {
            key: 'end',
            label: 'End',
            formatter: (item) => formatDateTime(item),
            sortable: false
          }
        ],
        items: [],
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: 'title',
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        totalRows: 0
      }
    },
    methods: {
      getIcon (status) {
        const iconPrefix = 'icon-'
        if (status) {
          return iconPrefix + 'check'
        }

        return iconPrefix + 'close'
      },
      rowClicked (item) {
        this.$router.push({ name: 'AdvertisementEdit', params: { advertisementId: item.id } })
      },
      onFiltered (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    computed: {
      sortOptions () {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return { text: f.label, value: f.key }
          })
      },
      getRowCount () {
        return this.items.length
      },
      textData () { return advertisementIndexText }
    },
    async beforeCreate () {
      this.items = await fetchAdvertisements()
      this.caption = this.getText('advertisement') + 's'
      this.fields[0].label = this.getText('title')
      this.fields[1].label = this.getText('compensation')
      this.fields[2].label = this.getText('duration')
      this.fields[3].label = this.getText('start')
      this.fields[4].label = this.getText('end')
    }
  }
</script>

<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
