<template>
  <footer class="footer">
    <div class="top-wrapper">
      <div class="container">
        <div class="row">
          <b-col
            cols="12"
            md="3">
            <div class="logo-wrapper">
              <img
                src="/static/img/brand/img_logo_sloesh.svg"
                alt="Logo Sloesh">
              <h5>Wij betalen jou voor autorijden</h5>
            </div>
          </b-col>
          <b-col
            cols="12"
            lg="3"
            md="4"
            offset-md="1">
            <div class="footer-nav-wrapper">
              <div class="title-wrapper">
                <h3>Snel naar</h3>
              </div>
              <ul>
                <li>
                  <b-link
                    :to="{ name: 'Login' }"
                    class="link">
                    Inloggen
                  </b-link>
                </li>
                <li>
                  <b-link
                    :to="{ name: 'Register' }"
                    class="link">
                    Gratis Registreren
                  </b-link>
                </li>
                <li>
                  <b-link
                    class="link">
                    Campagne aanbieden
                  </b-link>
                </li>
                <li>
                  <b-link
                    class="link">
                    Bestikkeraars gezocht
                  </b-link>
                </li>
              </ul>
            </div>
          </b-col>
          <b-col
            cols="12"
            md="3"
            lg="2">
            <div class="title-wrapper">
              <h3>Contact</h3>
            </div>
            <div class="text-wrapper">
              <p>info@sloesh.com<br>
                adresstraat 33<br>
                1234 BA<br>
                Rotterdam<br>
                088 - 123 45 67</p>
            </div>
          </b-col>
        </div>
      </div>
    </div>
    <div class="container bottom-wrapper">
      <div class="row">
        <b-col cols="12">
          <div class="disclaimer-wrapper">
            <a href="#">Privacy</a>
            <a href="#">Algemene Voorwaarden</a>
          </div>
        </b-col>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style lang="scss">
  @import '../../../../assets/scss/frontoffice/prerequisites';

  footer.footer {
    & > .top-wrapper {
      background-color: #F9F9F9;
      & > .container {
        & > .row:first-child {
          padding-top: 23px;
          padding-bottom: 76px;

          @include media-breakpoint-down(sm) {
            padding-bottom: 45px;
          }

          & > div {
            & > .logo-wrapper {
              & > h5 {
                padding-top: 15px;
                color: $color-robin-egg-blue;
                font-weight: 400;
                font-size: 18px;
                font-family: 'Bree Serif', serif;
              }
            }
            &:not(:first-child) {
              padding-top: 25px;
            }

            &:nth-child(2) {
              & > .footer-nav-wrapper {
                border-left: 1px solid #C7C7C7;
                padding-left: 19px;

                & > ul {
                  list-style-image: url("/static/img/form/icon_arrow_right_green.svg");
                  padding-left: 20px;

                  & > li {
                    margin-bottom: 7px;
                    & > .link {
                      font-size: 16px;

                      &:hover {
                        color: #FC9E63;
                      }
                    }
                  }
                }
              }
            }

            &:last-child {
              @include media-breakpoint-down(sm) {
                & > .title-wrapper {
                  padding-left: 20px;
                }

                & > .text-wrapper {
                  padding-left: 20px;
                }
              }

              & > .text-wrapper {
                font-family: 'Source Sans Pro', sans-serif;
              }
            }
          }
        }
      }
    }
    & > .bottom-wrapper {
      & > .row {
        & > div {
          & > .disclaimer-wrapper {
            padding-top: 6px;
            padding-bottom: 10px;
            text-align: right;
            @include media-breakpoint-down(sm) {
              text-align: left;
            }

            & > a {
              color: #000;

              &:not(:last-child) {
                margin-right: 33px;
              }

              &:hover {
                color: $color-pumpkin;
              }
            }
          }
        }
      }
    }
  }
</style>
