<template>
  <div class="navbar-wrapper fixed-top">
    <b-navbar
      toggleable="md"
    >
      <b-container>
        <b-navbar-brand
          to="/"
          class="d-flex align-items-center"
          :class="active ? 'active' : ''"
        >
          <img
            src="/static/img/brand/img_logo_sloesh.svg"
            alt="Logo Sloesh">
        </b-navbar-brand>

        <b-navbar-toggle
          target="nav_text_collapse"
          @click="active = !active"/>

        <b-collapse
          is-nav
          id="nav_text_collapse">
          <b-navbar-nav>
            <!--<b-nav-item-dropdown-->
            <!--right-->
            <!--v-if="isAuthenticated">-->
            <!--&lt;!&ndash; Using button-content slot &ndash;&gt;-->
            <!--<template slot="button-content"><em>{{ getText('user') }}</em></template>-->
            <!--<b-dropdown-item :to="{path: '/user'}">{{ getText('profile') }}</b-dropdown-item>-->
            <!--<b-dropdown-item :to="{name: 'UserCars'}">{{ getText('cars') }}</b-dropdown-item>-->
            <!--<b-dropdown-item-->
            <!--:to="{path: '/admin'}"-->
            <!--v-if="isAdmin">{{ getText('adminDashboard') }}</b-dropdown-item>-->
            <!--<b-dropdown-item @click.prevent.stop="signout">{{ getText('signOut') }}</b-dropdown-item>-->
            <!--</b-nav-item-dropdown>-->
            <!--<div v-else>-->
            <b-nav-item to="/">Home</b-nav-item>
            <li class="nav-item">
              <b-link
                v-if="isAuthenticated"
                :to="{name: 'UserDetails'}"
                class="nav-link btn btn-md custom-button btn-my-account">
                Mijn account
              </b-link>
              <b-link
                v-else
                :to="{name: 'Login'}"
                class="nav-link btn btn-md custom-button btn-white btn-lock">
                {{ getText('signIn') }}
              </b-link>
            </li>
            <li class="nav-item">
              <b-link
                v-if="isAuthenticated"
                :to="{name: 'Logout'}"
                class="nav-link btn btn-md custom-button btn-orange"
              >
                Uitloggen
              </b-link>
              <b-link
                v-else
                :to="{name: 'Register'}"
                class="nav-link btn btn-md custom-button btn-orange">
                {{ getText('register') }}
              </b-link>
            </li>
            <!--</div>-->
            <!--<MultiLangToggle/>-->
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>

<script>
  import {navbarText} from '../../text/containers/index'
  import MultiLangToggle from '../../../shared/MultiLangToggle'

  export default {
    name: 'Navbar',
    components: { MultiLangToggle },
    data () {
      return {
        active: false
      }
    },
    computed: {
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      },
      isAdmin () {
        return this.$store.getters['auth/roles'].indexOf('admin') !== -1
      },
      textData () { return navbarText }
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .navbar-wrapper {
    background-color: rgba(255, 255, 255, 0.91);
    max-width: 100%;

    @include media-breakpoint-down(md) {
      height: 73px;
    }

    @include media-breakpoint-down(sm) {
      height: 67px;
    }

    & > .navbar {
      @include media-breakpoint-down(sm) {
        /*/background-image: linear-gradient(transparent 67px, $color-anti-flash-white 10px);*/
      }
      & > .container {
        @include media-breakpoint-down(md) {
          & > .navbar-brand {
            & > img {
              height: 55px;
            }
          }
        }

        @include media-breakpoint-down(sm) {
          & > .navbar-brand {
            height: 100%;
            opacity: 0.4;

            &.active {
              opacity: 1;
            }

            & > img {
              height: 48px;
            }
          }

          & > .navbar-toggler {
            border: 0;
            & > .navbar-toggler-icon {
              background-image: url("/static/img/form/icon_hamburger.svg");
            }
            &[aria-expanded="true"] {
              & > .navbar-toggler-icon {
                background-image: url("/static/img/form/icon_close_orange.svg");
              }
            }
          }
        }

        & > .navbar-collapse {
          @include media-breakpoint-up(sm) {
            height: 77px;
          }
          @include media-breakpoint-down(sm) {
            height: calc(100vh - 67px);
            padding-top: 28px;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: start;

            &.collapsing {
              -webkit-transition: none;
              transition: none;
              display: none;
            }

            &::after {
              position: absolute;
              content: '';
              height: 13px;
              top: 67px;
              width: 100%;
              max-width: 100vw;
              left: 0;
              background-image: linear-gradient(rgba(0, 0, 0, 0.08) 0, $color-anti-flash-white 13px);
              z-index: -1;
            }

            &::before {
              position: absolute;
              content: '';
              height: calc(100vh - 67px);
              top: 67px;
              width: 100%;
              max-width: 100vw;
              left: 0;
              background-color: $color-anti-flash-white;
              z-index: -1;
            }
          }

          & > .navbar-nav {
            @include media-breakpoint-up(sm) {
              margin-left: auto;
            }

            & > .nav-item {
              &:not(:last-child) {
                margin-right: 17px;

                @include media-breakpoint-down(sm) {
                  margin-bottom: 21px;
                  margin-right: 0;
                }
              }
              & > .nav-link {
                font-size: 14px;
                font-weight: 700;
                color: $color-midnight-green;

                &:not(.btn) {
                  margin-top: 2.5px;
                }

                &:hover {
                  color: $color-pumpkin;
                }

                &.custom-button {
                  border-radius: 25px;
                  padding: 10px 20px;
                  white-space: nowrap;

                  &.btn-white {
                    background-color: rgba(255, 255, 255, 1);

                    &:hover {
                      border: 1px solid $color-pumpkin;
                      color: $color-pumpkin;
                    }
                  }
                  &.btn-orange {
                    background-color: $color-pumpkin;
                    color: #fff;

                    &:hover {
                      background-color: #87D5CF;
                    }
                  }

                  &.btn-lock {
                    padding-left: 40px;
                    position: relative;

                    &:after {
                      content: url("/static/img/form/icon_login.svg");
                      left: 20px;
                      top: 10px;
                      width: 12px;
                      height: 18px;
                      position: absolute;
                    }
                  }

                  &.btn-my-account {
                    background-color: $color-ghost-white;
                    min-width: 143px;
                    color: $color-midnight-green;
                    font-size: 14px;
                    font-weight: 700;
                    position: relative;
                    padding-left: 39px;

                    &::before {
                      content: url("/static/img/form/icon_account.svg");
                      position: absolute;
                      width: 19px;
                      height: 22px;
                      left: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
