// Here you can add other styles
.validation-warning {
  color: red;
  display: block;
  padding: 0;
  font-size: 10px;
}

.authImage {
  width: 40%;
  display: inline-block;
  margin-bottom: 10px;
}
