$color-pumpkin: #FF6E13;
$color-robin-egg-blue: #08B8CC;
$color-persian-green: #00A59A;
$color-midnight-green: #00565F;
$color-deep-peach: #FFCFA9;
$color-topaz: #FCBB87;
$color-ghost-white: #F9F9F9;
$color-anti-flash-white: #F3F3F3;
$color-malachite: #20CF60;
$color-dodger-blue: #1AA2F5;
