@import "text";
@import "prerequisites";

.button-wrapper {
  .custom-button {
    border-radius: 7.5px;
    border: 0;
    line-height: 30px;
    padding: 10px 64px 12px 19px;
    display: inline-block;

    @include media-breakpoint-down(md) {
      padding-right: 57px;
      padding-left: 14px;
    }

    &.cta-button-ghost {
      background-color: #fff;
      min-width: 185px;
      color: $color-pumpkin;
      font-weight: 700;
      font-size: 16px;
      position: relative;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);

      &::before {
        content: url("/static/img/form/icon_arrow_right_small_orange.svg");
        position: absolute;
        width: 44px;
        padding-top: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-persian-green, 0.24);
        z-index: 1;
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
      }

      &:hover {
        &:before {
          content: url("/static/img/form/icon_arrow_right_small_white.svg");
          background-color: rgba($color-persian-green, 0.47);
          padding-right: 10px;
        }
      }
    }

    &.button-cancel {
      background-color: #fff;
      min-width: 185px;
      color: $color-pumpkin;
      font-weight: 700;
      font-size: 16px;
      position: relative;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);

      &::before {
        content: url("/static/img/form/icon_close_orange.svg");
        position: absolute;
        width: 44px;
        padding-top: 10px;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
      }

      &:hover {
        &:before {
          transform: rotate(45deg);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &.button-filter {
      background-color: #fff;
      min-width: 185px;
      color: $color-pumpkin;
      font-weight: 700;
      font-size: 16px;
      position: relative;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.11);

      &::before {
        content: url("/static/img/form/icon_filter.svg");
        position: absolute;
        width: 44px;
        padding-top: 10px;
        top: 5px;
        right: 0;
        bottom: 0;
        z-index: 1;
        border-top-right-radius: 7.5px;
        border-bottom-right-radius: 7.5px;
      }

      &:hover {
        border: 1px solid $color-pumpkin;
        color: $color-pumpkin;
      }
    }
  }
}

.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 45px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #D9DADC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #fff;

  &:after {
    content: "";
    position: absolute;
    top: 0.5px;
    left: 1px;
    background: transparent;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
  }

  &:checked {
    box-shadow: inset 25px 0 0 0 #2FD475;
    border-color: #2FD475;

    &:before {
      content: url("/static/img/form/icon_check_white.svg");
      position: absolute;
      height: 10.35px;
      width: 12px;
      left: 9px;
      top: -3px;
      z-index: 1;
    }

    &:after {
      left: 25px;
    }
  }
}

.form-wrapper {
  background: #FFFFFF;
  box-shadow: 0 1px 42px 0 rgba(121,121,121,0.12);
  padding: 36px 48px 53px 36px;

  @include media-breakpoint-down(md) {
    padding: 20px 18px 41px 16px;
  }

  @include media-breakpoint-down(sm) {
    padding: 19px 15px 35px;
  }

  .section-end {
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(8,184,204,0.19);
  }
}

.input-wrapper {
  margin-bottom: 24px;
  background: $color-ghost-white;
  border-radius: 25px;

  & > .form-control {
    border: 0;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.7);
    padding-top: 10px;
    padding-bottom: 10px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }

    &:focus {
      box-shadow: none;
      background-color: transparent;
    }

    &.date-icon {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        background-image: url("/static/img/form/icon_calendar.svg");
        height: 20px;
        width: 18px;
        right: 17px;
      }

      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
      }
    }
  }

  & > .custom-checkbox {
    padding: 11px 15px 11px calc(1.5rem + 25px);

    & > .custom-control-label {
      & > span:first-child {
        margin-right: 37px;

        @include media-breakpoint-down(md) {
          display: inline-block;
          vertical-align: top;
        }
      }
      & > span:last-child {
        color: #9E9E9E;

        @include media-breakpoint-down(md) {
          width: 125px;
          display: inline-block;
        }

        @include media-breakpoint-down(sm) {
          width: 82px;
        }
      }
    }
  }
}

.custom-checkbox {
  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      background-color: #fff;
    }

    &::after {
      background-image: url("/static/img/form/icon_check.svg");
      background-size: auto;
    }
  }

  & > .custom-control-label {
    &::before, &::after {
      left: calc(-1.5rem - 10px);
      width: 21px;
      height: 21px;
      top: 1px;
    }
    &::before {
      border: 2px solid $color-midnight-green;
      background-color: #fff;
    }
  }
}

.close-icon {
  &::before {
    content: url("/static/img/form/icon_close_orange.svg");
    padding-left: 6px;
  }
}
