@import "prerequisites";

html {
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Font varient */
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

html, body  {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
}

.title-wrapper, .subtitle-wrapper {
  font-family: 'Bree Serif', serif;
  & > h1 {
    color: $color-robin-egg-blue;
    font-weight: 400;
    font-size: 40px;
  }
  & > h2 {
    color: $color-robin-egg-blue;
    font-weight: 400;
    font-size: 32px;
  }
  & > h3 {
    color: $color-midnight-green;
    font-weight: 400;
    font-size: 24px;
  }
  & > h4 {
    color: $color-midnight-green;
    font-weight: 400;
    font-size: 20px;

    &.medium-heading {
      color: $color-persian-green;
      font-size: 19px;
    }
  }
  & > h5 {
    color: $color-midnight-green;
    font-weight: 400;
    font-size: 16px;
  }
}

.text-wrapper {
  font-size: 16px;
  font-weight: 400;

  &.intro-text {
    color: $color-midnight-green;
    font-size: 18px;
    font-weight: 600;
  }
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  &.link {
    font-family: 'Bree Serif', serif;
    color: $color-pumpkin;
    font-size: 19px;
    position: relative;

    &:hover {
      color: #FC9E63;
    }

    &.icon-plus {
      position: relative;
      padding-left: 22px;

      &::before {
        position: absolute;
        content: '';
        background-image: url("/static/img/form/icon_add.svg");
        top: 7.5px;
        left: 0;
        height: 13px;
        width: 13px;
      }
    }
  }
}

.color-pumpkin {
  color: $color-pumpkin;
  cursor: pointer;

  &:hover {
    color: #FC9E63;
  }
}
