<template>
  <div
    id="overlay"
    class="d-flex justify-content-center align-items-center"
    v-if="!!loading">
    <Spinner
      size="large"
      color="#57BAC6"
      text-fg-color="#fff"
      :message="message || ''"
    />
  </div>
</template>

<script>
  import Spinner from 'vue-simple-spinner'

  export default {
    name: 'LoadingOverlay',
    components: {
      Spinner
    },
    data () {
      return {
        loading: undefined,
        message: undefined
      }
    },
    methods: {
      toggleLoading (message) {
        this.loading = !this.loading
        this.message = message
      },
      stopLoading () {
        this.loading = false
        this.message = undefined
      },
      setLoadingMessage (message) {
        this.message = message
      }
    },
    mounted () {
      VueEventListener.listen('toggleLoading', this.toggleLoading)
      VueEventListener.listen('stopLoading', this.stopLoading)
      VueEventListener.listen('setLoadingMessage', this.setLoadingMessage)
    }
  }
</script>

<style lang="scss">
  #overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
</style>
