<template>
  <div>
    <b-nav-item
      v-for="(lang, key) in availableLanguages"
      :key="key"
      @click="changeLang(lang)"
    >
      <span
        class="flag-icon"
        :class="'flag-icon-' + lang"
      />
    </b-nav-item>
  </div>
</template>

<script>
  export default {
    name: 'MultiLangToggle',
    data () {
      return {
        supportedLanguages: ['nl', 'en']
      }
    },
    methods: {
      changeLang (lang) {
        this.$store.dispatch('multilang/changeLang', lang)
      }
    },
    computed: {
      activeLanguage () {
        return this.$store.getters['multilang/activeLang']
      },
      availableLanguages () {
        return this.supportedLanguages.filter(lang => lang !== this.activeLanguage)
      }
    }
  }
</script>

<style scoped>

</style>
