<template>
  <div>
    <actions-header/>
    <div class="container">
      <b-row>
        <b-col cols="1">
          <b-button
            variant="secondary"
            :to="{path: '/'}">{{ getText('back') }}</b-button>
        </b-col>
        <b-col cols="11">
          <b-card
            :header="getText('accountDetails')"
            v-if="accountDetails"
          >
            <table class="table">
              <tr>
                <th>
                  {{ getText('exordium') }}
                </th>
                <td>
                  <b-form-radio-group v-model="accountDetails['exordium']">
                    <b-form-radio value="Mr">Mr</b-form-radio>
                    <b-form-radio value="Mrs">Mrs</b-form-radio>
                  </b-form-radio-group>
                </td>
              </tr>
              <tr>
                <th>{{ getText('firstName') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['firstName']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['firstName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('middleName') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['middleName']" />
                </td>
              </tr>
              <tr>
                <th>{{ getText('lastName') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['lastName']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['lastName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('email') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['email']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['email']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                  <span
                    class="validation-warning"
                    v-show="!validEmail">{{ getText('errorMessages')['invalidEmail'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('address') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['address']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['address']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('addressLineTwo') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['addressLineTwo']" />
                </td>
              </tr>
              <tr>
                <th>{{ getText('zipCode') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['zipcode']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['zipcode']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('city') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['city']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['city']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('country') }}</th>
                <td>
                  <b-form-select
                    v-model.trim="accountDetails['country']"
                    :options="Countries"/>
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['country']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('iban') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['iban']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['iban']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('cardHolderName') }}</th>
                <td>
                  <b-form-input v-model.trim="accountDetails['cardHolderName']" />
                  <span
                    class="validation-warning"
                    v-show="!accountDetails['cardHolderName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
                </td>
              </tr>
              <tr>
                <th>{{ getText('activeSince') }}</th>
                <td>{{ accountDetails['activeSince'] | formatDate }}</td>
              </tr>
              <tr>
                <th>{{ getText('password') }}</th>
                <td>
                  <b-link
                    :to="{name: 'UserResetPassword'}"
                    class="font-italic">{{ getText('changePasswordText') }}
                  </b-link>
                </td>
              </tr>
            </table>

            <b-button
              variant="success"
              block
              @click="updateUserDetails"
              :disabled="!validForm">{{ getText('update') }} Account
            </b-button>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import { fetchAccountDetails, updateCustomerData } from '@/services/customerService'
  import {camelcaseToSpaceSeparated, capitalize, formatDate} from '../../../../helpers/stringFilters'
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import Countries from '@/models/CountryNames'
  import {validEmailRegex} from '@/helpers/formConstants'
  import {userDetailsText} from '../../text/users/index'
  import ActionsHeader from '../actions/components/Header'

  export default {
    name: 'UserDetails',
    components: { ActionsHeader, FormBuilder },
    data () {
      return {
        inputFields: [],
        accountDetails: undefined,
        arrayItem: '',
        editItem: '',
        edit: undefined
      }
    },
    methods: {
      async updateUserDetails () {
        await updateCustomerData(this.accountDetails)
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize,
      formatDate
    },
    computed: {
      Countries () {
        return Countries
      },
      validEmail () {
        if (typeof this.accountDetails['email'] !== 'string' || this.accountDetails['email'].length === 0) {
          return false
        }

        return validEmailRegex.test(this.accountDetails['email'])
      },
      validFields () {
        const fields = ['exordium', 'firstName', 'lastName', 'address', 'zipcode', 'city', 'country', 'iban', 'cardHolderName']
        for (let field of fields) {
          if (!this.accountDetails[field]) {
            return false
          }
        }
        return true
      },
      validForm () {
        return this.validEmail && this.validFields
      },
      textData () {
        return userDetailsText
      }
    },
    async beforeMount () {
      this.accountDetails = await fetchAccountDetails()
    },
    destroyed () {
      // react to route changes...
      VueEventListener.fire('stopLoading')
    }
  }
</script>

<style lang="scss">
  .hover-pointer {
    cursor: pointer;
  }
</style>
