<template>
  <div>
    <actions-header/>
    <div class="container">
      <b-row>
        <b-col cols="1">
          <b-button
            variant="secondary"
            :to="{path: '/'}">{{ getText('back') }}
          </b-button>
        </b-col>
        <b-col cols="11">
          <b-card
            :header="getText('userCars')"
            v-if="cars">
            <table class="table">
              <tr>
                <th>{{ getText('cars') }}</th>
                <td>
                  <div
                    v-for="(arrayValue, arrayKey) in cars"
                    :key="arrayKey"
                    class="mb-2">
                    <div>
                      <span>{{ arrayValue['licensePlate'] }}</span>
                      <span
                        class="float-right ml-3"
                        @click.prevent="deleteArrayItem(arrayKey)"><i class="icon-trash hover-pointer"/></span>
                    </div>
                  </div>
                  <div>
                    <input
                      type="text"
                      v-model="arrayItem">
                    <span class="float-right">
                      <b-button
                        variant="success"
                        @click="addArrayItem">{{ getText('add') }}</b-button>
                    </span>
                  </div>
                </td>
              </tr>
            </table>
          </b-card>
        </b-col>
  </b-row></div></div>
</template>

<script>
  import { addCar, deleteCar, fetchCars } from '@/services/carService'
  import { camelcaseToSpaceSeparated, capitalize, formatDate } from '../../../../helpers/stringFilters'
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import { userCarsText } from '../../text/users/index'
  import ActionsHeader from '../actions/components/Header'

  export default {
    name: 'UserCars',
    components: { ActionsHeader, FormBuilder },
    data () {
      return {
        inputFields: [],
        cars: undefined,
        arrayItem: ''
      }
    },
    methods: {
      async addArrayItem () {
        if (!this.validateLicense(this.arrayItem)) {
          return
        }
        if (!this.$store.getters['auth/userId']) {
          VueEventListener.fire('errorMessage', this.getText('errorMessages')['notLoggedIn'])
          return
        }

        await addCar({
          licensePlate: this.arrayItem,
          userId: this.$store.getters['auth/userId']
        }, (cars) => {
          this.cars = cars
          this.arrayItem = ''
        }, () => VueEventListener.fire('errorMessage', this.getText('errorMessages')['somethingWentWrong']))
      },
      async deleteArrayItem (arrayKey) {
        if (!this.$store.getters['auth/userId']) {
          VueEventListener.fire('errorMessage', this.getText('errorMessages')['notLoggedIn'])
          return
        }

        await deleteCar({
          licensePlate: this.cars[arrayKey].licensePlate,
          userId: this.$store.getters['auth/userId']
        }, () => {
          this.cars.splice(arrayKey, 1)
        }, () => VueEventListener.fire('errorMessage', this.getText('errorMessages')['somethingWentWrong']))
      },
      cancelEditItem () {
        this.edit = false
        this.editItem = ''
      },
      validateLicense (item) {
        if (!item) {
          VueEventListener.fire('errorMessage', this.getText('errorMessages')['itemEmpty'])
          return false
        }

        for (let car of this.cars) {
          if (car['licensePlate'] === item) {
            VueEventListener.fire('errorMessage', this.getText('errorMessages')['itemAlreadyExists'])
            return false
          }
        }
        return true
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize,
      formatDate
    },
    computed: {
      textData () {
        return userCarsText
      }
    },
    async beforeMount () {
      this.cars = await fetchCars()
    },
    destroyed () {
      // react to route changes...
      VueEventListener.fire('stopLoading')
    }
  }
</script>

<style lang="scss">
  .hover-pointer {
    cursor: pointer;
  }
</style>
