<template>
  <div class="header"/>
</template>

<script>
  export default {
    name: 'ActionsHeader'
  }
</script>

<style lang="scss" scoped>
  @import "../../../../../assets/scss/frontoffice/prerequisites";

  .header {
    height: 24vw;
    min-height: 358px;
    width: 100%;
    /* Center and scale the image nicely */
    background: url("/static/img/backgrounds/img_heading_overlay.svg"), url("/static/img/backgrounds/img_header_2.jpg");
    background-repeat: no-repeat;
    background-position: left bottom, center 22%;
    background-size: auto, cover;
    color: #fff;

    @include media-breakpoint-down(md) {
      min-height: 251px;
      height: 32.3vw;
      background-size: 110% 89%, 175% 150%;
      background-position: left bottom, center 0;
    }

    @include media-breakpoint-down(sm) {
      min-height: 199px;
      height: 62vw;
      background-size: auto, auto 100%;
      background-position: left bottom, 40% 100%;
    }
  }
</style>
