<template>
  <b-row v-if="!!accountDetails">
    <b-col cols="12">
      <b-card :header="getText('edit') + ' User'">
        <table class="table">
          <tr>
            <th>User Id</th>
            <td>
              {{ accountDetails['userId'] }}
            </td>
          </tr>
          <tr>
            <th>{{ getText('isLockedOut') }}</th>
            <td>
              <b-form-checkbox
                v-model="accountDetails['isLockedOut']"
                :value="true"
                :unchecked-value="false">&nbsp;
              </b-form-checkbox>
            </td>
          </tr>
          <tr>
            <th>
              {{ getText('exordium') }}
            </th>
            <td>
              <b-form-radio-group v-model="accountDetails['exordium']">
                <b-form-radio value="Mr">Mr</b-form-radio>
                <b-form-radio value="Mrs">Mrs</b-form-radio>
              </b-form-radio-group>
            </td>
          </tr>
          <tr>
            <th>{{ getText('firstName') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['firstName']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['firstName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('middleName') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['middleName']" />
            </td>
          </tr>
          <tr>
            <th>{{ getText('lastName') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['lastName']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['lastName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('email') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['email']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['email']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
              <span
                class="validation-warning"
                v-show="!validEmail">{{ getText('errorMessages')['invalidEmail'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('emailConfirmed') }}</th>
            <td>
              <b-form-checkbox
                v-model="accountDetails['emailConfirmed']"
                :value="true"
                :unchecked-value="false">&nbsp;
              </b-form-checkbox>
            </td>
          </tr>
          <tr>
            <th>{{ getText('address') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['address']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['address']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('addressLineTwo') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['addressLineTwo']" />
            </td>
          </tr>
          <tr>
            <th>{{ getText('zipCode') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['zipcode']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['zipcode']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('city') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['city']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['city']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('country') }}</th>
            <td>
              <b-form-select
                v-model.trim="accountDetails['country']"
                :options="Countries"/>
              <span
                class="validation-warning"
                v-show="!accountDetails['country']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('iban') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['iban']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['iban']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('cardHolderName') }}</th>
            <td>
              <b-form-input v-model.trim="accountDetails['cardHolderName']" />
              <span
                class="validation-warning"
                v-show="!accountDetails['cardHolderName']">{{ getText('errorMessages')['nonEmpty'] }}.</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('activeSince') }}</th>
            <td>{{ accountDetails['activeSince'] | formatDate }}</td>
          </tr>
        </table>
        <b-btn
          variant="primary"
          :disabled="isOriginal && !validForm"
          v-show="!isOriginal && validForm"
          @click.stop.prevent="submit">{{ getText('update') }}
        </b-btn>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import { updateUser } from '../../../../services/adminUpdateService'
  import { camelcaseToSpaceSeparated, capitalize, formatDate } from '../../../../helpers/stringFilters'
  import {validEmailRegex} from '@/helpers/formConstants'
  import Countries from '@/models/CountryNames'
  import {editText} from '../../text/admin/users'

  export default {
    name: 'AdminUserEdit',
    props: {
      user: {
        type: Object,
        default () {
          return {}
        },
        required: true
      }
    },
    data () {
      return {
        originalData: undefined,
        accountDetails: undefined,
        nonEditable: ['userId'],
        arrayItem: '',
        editItem: '',
        edit: undefined
      }
    },
    methods: {
      async submit () {
        if (this.isOriginal) {
          return
        }

        if (!this.$store.getters['auth/userId']) {
          VueEventListener.fire('errorMessage', this.getText('errorMessages')['notLoggedIn'])
          return
        }

        await updateUser(
          {
            ...this.accountDetails,
            adminId: this.$store.getters['auth/userId']
          },
          () => this.$router.push({name: 'AdminUserIndex'})
        )
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize,
      formatDate
    },
    computed: {
      Countries () {
        return Countries
      },
      isOriginal () {
        return JSON.stringify(this.originalData) === JSON.stringify(this.accountDetails)
      },
      validEmail () {
        if (typeof this.accountDetails['email'] !== 'string' || this.accountDetails['email'].length === 0) {
          return false
        }

        return validEmailRegex.test(this.accountDetails['email'])
      },
      validFields () {
        const fields = ['exordium', 'firstName', 'lastName', 'address', 'zipcode', 'city', 'country', 'iban', 'cardHolderName']
        for (let field of fields) {
          if (!this.accountDetails[field]) {
            return false
          }
        }
        return true
      },
      validForm () {
        return this.validEmail && this.validFields
      },
      textData () { return editText }
    },
    created () {
      if (!this.user || !Object.keys(this.user).length) {
        this.$router.push({name: 'AdminUserIndex'})
      }
      this.accountDetails = this.user
      this.originalData = Object.assign({}, this.user)
    }
  }
</script>

<style scoped>

</style>
