<template>
  <div class="invalid-feedback">
    <span
      v-show="invalid && showError"
      class="validation-warning col-12">{{ getText('invalid') }} ({{ currentDate | formatDateTime }}).</span>
  </div>
</template>

<script>
  import {formatDateTime} from '../../../../helpers/stringFilters'
  import {afterTodayText} from '../../text/form/validations'

  export default {
    name: 'AfterTodayValidation',
    data () {
      return {
        showError: false
      }
    },
    props: {
      field: {
        type: String,
        default: '',
        required: true
      },
      value: {
        type: String,
        default: '',
        required: true
      }
    },
    filters: {
      formatDateTime
    },
    methods: {
      setError () {
        this.setError = () => {
        }
        this.showError = true
      }
    },
    computed: {
      invalidDate () {
        return !moment(this.value).isValid()
      },
      currentDate () {
        return moment()
      },
      invalid () {
        if (this.invalidDate) {
          return true
        }

        return moment(this.value).isBefore(this.currentDate, 'minute')
      },
      textData () { return afterTodayText }
    },
    watch: {
      value () {
        this.$emit('validInput', [this.field, this.invalid])
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
