<template>
  <div class="invalid-feedback">
    <span
      v-show="noMatchingPasswords && showError"
      class="validation-warning col-12">{{ getText('noMatch') }}</span>
    <span
      v-show="invalidLength && showError"
      class="validation-warning col-12">{{ getText('invalidLength')['start'] }} {{ passwordMinLength }}&nbsp;
      {{ getText('invalidLength')['and'] }} {{ passwordMaxLength }} {{ getText('invalidLength')['end'] }}</span>
    <span
      v-show="invalidFormat && showError"
      class="validation-warning col-12">{{ getText('invalidFormat') }}</span>
  </div>
</template>

<script>
  import formConstants from '../../../../helpers/formConstants.js'
  import PasswordValidation from './PasswordValidation'
  import { confirmPasswordValidationText } from '../../text/form/validations'

  export default {
    name: 'ConfirmPasswordValidation',
    components: {PasswordValidation},
    data () {
      return {
        showError: false,
        passwordMinLength: formConstants.pwMinLength,
        passwordMaxLength: formConstants.pwMaxLength
      }
    },
    props: {
      field: {
        type: String,
        default: '',
        required: true
      },
      value: {
        type: String,
        default: '',
        required: true
      },
      check: {
        type: String,
        default: '',
        required: true
      }
    },
    methods: {
      setError () {
        this.setError = () => {
        }
        this.showError = true
      }
    },
    computed: {
      invalid () {
        return this.invalidLength || this.invalidFormat || this.noMatchingPasswords
      },
      noMatchingPasswords () {
        return !(this.value === this.check)
      },
      invalidLength () {
        return this.value.length < this.passwordMinLength || this.value.length > this.passwordMaxLength
      },
      invalidFormat () {
        return this.value.match(formConstants.passwordRegex) === null
      },
      textData () {
        return confirmPasswordValidationText
      }
    },
    watch: {
      value () {
        this.$emit('validInput', [this.field, this.invalid])
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
