<template>
  <div class="invalid-feedback">
    <span
      v-show="invalid && showError"
      class="validation-warning col-12">{{ getText('invalid') }}</span>
  </div>
</template>

<script>
  import {formatDateTime} from '../../../../helpers/stringFilters'
  import {dateText} from '../../text/form/validations'

  export default {
    name: 'DateValidation',
    data () {
      return {
        showError: false
      }
    },
    props: {
      field: {
        type: String,
        default: '',
        required: true
      },
      value: {
        type: String,
        default: '',
        required: true
      }
    },
    filters: {
      formatDateTime
    },
    methods: {
      setError () {
        this.setError = () => {
        }
        this.showError = true
      }
    },
    computed: {
      invalid () {
        return !moment.isValid(this.value)
      },
      textData () { return dateText }
    },
    watch: {
      value () {
        this.$emit('validInput', [this.field, this.invalid])
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
