<template>
  <div class="col-12">
    <span
      v-show="!validFile && showError"
      class="validation-warning col-12">{{ getText('invalidFile') }}</span>
    <span
      v-show="!validExtension && showError"
      class="validation-warning col-12">{{ getText('invalidExtension') }}</span>
    <span
      v-show="!validSize && showError"
      class="validation-warning col-12">{{ getText('invalidSize') }}</span>
  </div>
</template>

<script>
  import formConstants from '../../../../helpers/formConstants.js'
  import {imageText} from '../../text/form/validations'

  export default {
    name: 'FileExtensionValidation',
    data () {
      return {
        showError: false
      }
    },
    props: {
      value: {
        type: File,
        default: undefined
      }
    },
    methods: {
      noOperation () {
      },
      setError () {
        this.setError = this.noOperation
        this.showError = true
      }
    },
    computed: {
      validFile () {
        return !!this.value
      },
      validExtension () {
        return (this.validFile) ? this.value.name.match(formConstants.allowedImageExtensionRegex) !== null : true
      },
      validSize () {
        return (this.validFile) ? this.value.size <= formConstants.maxFileSize : true
      },
      validImage () {
        return this.validFile && this.validExtension && this.validSize
      },
      textData () {
        return imageText
      }
    },
    watch: {
      value () {
        this.$emit('validImage', this.validImage)
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
