<template>
  <span
    v-show="invalid && showError"
    class="validation-warning col-12">{{ getText('start') }} {{ this.min }}, {{ getText('middle') }} {{ this.max }} {{ getText('end') }} {{ this.step }}.</span>
</template>

<script>
  import {numberText} from '../../text/form/validations'

  export default {
    name: 'NumberValidation',
    data () {
      return {
        showError: false
      }
    },
    props: {
      field: {
        type: String,
        default: '',
        required: true
      },
      value: {
        type: [String, Number],
        default: 0,
        required: true
      },
      step: {
        type: Number,
        default: 1,
        required: true
      },
      min: {
        type: Number,
        default: 0,
        required: true
      },
      max: {
        type: Number,
        default: Number.MAX_VALUE,
        required: true
      }
    },
    methods: {
      setError () {
        this.setError = () => {
        }
        this.showError = true
      }
    },
    computed: {
      numberValue () {
        return Number(this.value)
      },
      checkStep () {
        const precision = 0.001
        let x = this.numberValue % this.step
        if (x <= precision) return true
        return ((x + precision) % this.step) <= precision
      },
      invalid () {
        if (isNaN(this.value)) {
          return true
        }

        return !(this.numberValue >= this.min && this.numberValue <= this.max && this.checkStep)
      },
      textData () {
        return numberText
      }
    },
    watch: {
      value () {
        this.$emit('validInput', [this.field, this.invalid])
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
