<template>
  <span
    v-show="invalid && showError"
    class="validation-warning col-12">{{ getText('invalid') }}</span>
</template>

<script>
  import {validEmailRegex} from '../../../../helpers/formConstants'
  import {validEmailText} from '../../text/form/validations'

  export default {
    name: 'EmailValidation',
    data () {
      return {
        showError: false
      }
    },
    props: {
      field: {
        type: String,
        default: '',
        required: true
      },
      value: {
        type: [String, Number],
        default: '',
        required: true
      }
    },
    methods: {
      setError () {
        this.setError = () => {
        }
        this.showError = true
      }
    },
    computed: {
      invalid () {
        if (typeof this.value !== 'string') {
          return true
        }

        return !validEmailRegex.test(this.value)
      },
      textData () { return validEmailText }
    },
    watch: {
      value () {
        this.$emit('validInput', [this.field, this.invalid])
        this.setError()
      }
    }
  }
</script>

<style scoped>

</style>
