@import "../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

/* Start General css */
html, body {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

body {
  overflow: auto;
  font-family: 'Raleway', sans-serif;
}

/* End General css */

.cursor-pointer {
  cursor: pointer;
}

/* Start Navbar css */
.navbar {
  padding: 2%;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  padding: 10px 30px;
  font-size: 1.1em;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fb8713;
}

/* End Navbar css */

/* Start General Header css */
.page-header {
  background-size: cover;
  z-index: -2;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.logo-wrapper {
  z-index: 20;
  height: 30vh;
  width: 30vw;
  background-size: auto;
  background: url("../../assets/img/logo/logo_white.svg") no-repeat center;
}

/* End General Header css */

/* End Section css */
.arrow {
  background: url("../../assets/img/icons/arrowDown.svg") no-repeat center;
  background-size: auto;
  height: 60px;
  width: 50px;
  margin: 5% auto 8%;
}

.title-wrapper .section-title {
  color: #101d4a;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.title-wrapper .section-title strong {
  color: #8d062a;
}

.title-wrapper .section-subtitle {
  color: #545454;
}

.intro-item-wrapper .item {
  padding-top: 5%;
  padding-bottom: 5%;
  border-top: 1px solid #ced0d7;
  border-bottom: 1px solid #ced0d7;
}

.intro-item-wrapper .item .img-wrapper object {
  height: 75px;
}

.intro-item-wrapper .item .title {
  color: #111c49;
  margin: 3%;
}

.intro-item-wrapper .item .description {
  color: #333333;
}

section {
  padding: 7% 0 5%;
}

/* End Section css */

article {
  padding: 10% 0;

  .title-wrapper {
    .section-title {
      text-transform: capitalize;
    }
    margin-bottom: 5%;
  }

  .desc-wrapper {
    color: rgb(88, 88, 88);
    margin-top: 2%;

    a {
      color: rgb(88, 88, 88);
    }
  }

}

.services {
  background-size: cover;
  min-height: 75vh;
  width: 100%;
  background: url("../../assets/img/banner/services_bg.png") no-repeat center, linear-gradient(#a6a8b2, #dfbcc6);
  background-size: 100% 100%;
  background-blend-mode: overlay;
  margin-bottom: 0;
}

.services .services-item-wrapper {
  margin: 7% auto 0;
}

.services .services-item-wrapper .item {
  position: relative;
  padding-top: 5%;
  padding-bottom: 5%;
  cursor: pointer;
}

.services .services-item-wrapper .item .img-wrapper object {
  height: 125px;
}

.services .services-item-wrapper .item .desc-wrapper h2 {
  color: #010a35;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 2% auto;
  font-size: 1.5rem;
}

.services .services-item-wrapper .item .overlay {
  opacity: 0;
  height: 100%;
  width: 75%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12.5%;
  right: 0;
  transition: .5s ease;
  background-color: #d8592f;
  padding: 12.5% 2.5%;
}

.services .services-item-wrapper .item .overlay:hover {
  opacity: 0.9;
}

.services .services-item-wrapper .item .overlay hr {
  margin: 0 auto;
  width: 25%;
  border-bottom: 1.5px solid #010a35;
  border-top: 1.5px solid #010a35;
  position: absolute;
  left: 37.5%;
}

.services .services-item-wrapper .item .overlay hr:first-child {
  top: 0;
}

.services .services-item-wrapper .item .overlay hr:last-child {
  bottom: 0;
}

.services .services-item-wrapper .item .overlay p {
  color: #ffffff;
  font-weight: 300;
  font-style: italic;
}

@include media-breakpoint-down(sm) {
  .page-header {
    min-height: 50vh;
  }

  .intro-item-wrapper .item {
    border-bottom: 0;

    &:not(:first-child) {
      border-top: 0;
    }
  }

  .portfolio .portfolio-item-wrapper > div {
    &:nth-of-type(2) {
      padding: 0;
    }
    &:first-child > .row > div {
      margin-bottom: 15px;
    }
  }

  footer .footer-nav-wrapper .container .row > div {
    &:not(:last-child) {
      margin-bottom: 10%;
    }

    .title-wrapper {
      margin-bottom: 5%;
    }
  }

  .main-timeline {
    .timeline {
      padding: 40px 60px;
      margin: 0 0 0 35px;
      &:nth-child(2n) {
        margin: 0 35px 0 0;
      }
    }
    .timeline-content {
      width: 100%;
    }
  }

  .service-navigation-wrapper .container .row {

    .nav-item-wrapper.all {
      margin-top: 5%;
      margin-bottom: 5%;
      .image-wrapper {
        object {
          display: none;
        }
      }
    }
  }
}

/* Start news page */

.news-wrapper {
  background-color: #EFF1F5;
}

.date-wrapper {
  .row > div {
    border-top: 2px solid #f15b5a;
    background-color: #fff;
    padding: 10px 0;
  }
  span {
    font-size: 2em;
    display: block;
  }
}

.news-item-wrapper {
  padding-top: 5%;
  &:last-child {
    padding-bottom: 5%;
  }
  .content-wrapper {
    background-color: #fff;
    padding: 0 0 3%;
    .img-wrapper img {
      max-width: 100%;
    }
    .header-wrapper {
      position: relative;
      z-index: 10;
      margin-top: -15%;
      background-color: #111c46;
      padding: 5% 7% 5% 7%;
      display: block;
      max-width: 90%;
      margin-left: 5%;
      margin-right: 5%;
      h2 {
        color: #fff;
        margin-bottom: 5%;
        font-size: 1.5em;
      }
      a {
        transition: color 0.1s linear;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #fb6a24;
        }
      }
      color: #7ad4ff;
    }
    .text-wrapper {
      background-color: #fff;
      padding: 10% 7% 5% 7%;
    }
  }
}

/* End news page */