.index-wrapper{height:calc(100% - 56px);width:100%;background:url(/static/img/backgrounds/index-bg.jpg) no-repeat 50%;background-size:cover;color:#fff}
/*# sourceMappingURL=17.120167de9c1e6badaf10.css.map */