<template>
  <div class="app admin">
    <AppHeader fixed>
      <b-link
        class="navbar-brand"
        to="#">
        <img
          class="navbar-brand-full"
          src="/static/img/brand/img_logo_sloesh.svg"
          width="89"
          height="25"
          alt="Sloesh Logo">
        <img
          class="navbar-brand-minimized"
          src="/static/img/brand/img_logo_sloesh.svg"
          width="30"
          height="30"
          alt="Sloesh Logo">
      </b-link>
      <b-navbar-nav class="ml-auto mr-3">
        <DefaultHeaderDropdownAccnt/>
        <MultiLangToggle/>
      </b-navbar-nav>
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :nav-items="navItems"/>
        <SidebarFooter/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view/>
        </div>
      </main>
    </div>
    <TheFooter>
      <!--footer-->
      <div>
        <a href="https://coreui.io">CoreUI</a>
        <span class="ml-1">&copy; 2018 creativeLabs.</span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Powered by</span>
        <a href="https://coreui.io">CoreUI for Vue</a>
      </div>
    </TheFooter>
  </div>
</template>

<script>
  import nav from './_nav'
  import { isAuthenticated } from '../../../helpers/authenticationHelpers'
  import {
    Aside as AppAside,
    AsideToggler,
    Breadcrumb,
    Footer as TheFooter,
    Header as AppHeader,
    Sidebar as AppSidebar,
    SidebarFooter,
    SidebarForm,
    SidebarHeader,
    SidebarNav
  } from '@coreui/vue'
  import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'
  import MultiLangToggle from '../../shared/MultiLangToggle'

  export default {
    name: 'Full',
    components: {
      MultiLangToggle,
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      DefaultHeaderDropdownAccnt,
      SidebarForm,
      SidebarFooter,
      SidebarHeader,
      SidebarNav
    },
    data () {
      return {
        roles: localStorage.getItem('roles')
      }
    },
    computed: {
      navItems () {
        if (!isAuthenticated() || this.roles !== 'admin_access') {
          return []
        }
        return nav.items[this.roles]
      },
      name () {
        return this.$route.name
      },
      list () {
        return this.$route.matched.filter((route) => route.name || route.meta.label)
      }
    }
  }
</script>

<style lang="scss">
  .admin {
    height: 100%;

    & > .app-body {
      height: calc(100% - 80px);

      & > .sidebar {
        height: 100%;
      }
    }
  }
</style>
