<template>
  <AppHeaderDropdown
    right
    no-caret>
    <template slot="header">
      {{ displayName }}
    </template>
    <template slot="dropdown">
      <b-dropdown-header
        tag="div"
        class="text-center">
        <strong>{{ getText('settings') }}</strong>
      </b-dropdown-header>
      <b-dropdown-item @click="$store.dispatch('auth/logout')"><i class="fa fa-lock"/> {{ getText('logout') }}</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>

<script>
  import {HeaderDropdown as AppHeaderDropdown} from '@coreui/vue'
  import {defaultHeaderDropdownAccntText} from '../text/containers'

  export default {
    name: 'DefaultHeaderDropdownAccnt',
    components: {
      AppHeaderDropdown
    },
    computed: {
      displayName () {
        return this.$store.getters['auth/displayName']
      },
      textData () { return defaultHeaderDropdownAccntText }
    }
  }
</script>
