<template>
  <div class="app flex-row align-items-center">
    <ActionsHeader/>
    <div class="container">
      <b-row class="justify-content-center">
        <b-col
          md="7"
          lg="6">
          <div class="clearfix">
            <div class="title-wrapper">
              <h1 class="pt-3">{{ getText('title') }} {{ edited | arrayToEnumeratedString }}.</h1>
            </div>
            <p class="text-muted">{{ getText('subtitle') }}</p>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import {arrayToEnumeratedString} from '../../../../helpers/stringFilters'
  import {confirmPageText} from '../../../backoffice/text/pages/index'
  import ActionsHeader from './components/Header'

  export default {
    name: 'ConfirmPage',
    components: { ActionsHeader },
    props: {
      edited: {
        type: Array,
        default: () => ['email'],
        validator (value) {
          return value.length > 0
        }
      }
    },
    filters: {
      arrayToEnumeratedString
    },
    computed: {
      textData () {
        return confirmPageText
      }
    }
  }
</script>

<style lang="scss" scoped>
  .app {
    & > .container {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
</style>
