<template>
  <b-modal
    id="forgot-password-modal"
    v-model="showModal">
    <div
      slot="modal-header"
      class="color-pumpkin ml-auto">
      <span @click="closeModal">Sluiten <i class="close-icon"/></span>
    </div>
    <div class="title-wrapper">
      <h3>Wachtwoord vergeten?</h3>
    </div>
    <div class="description-wrapper">
      <p>Geef hieronder je e-mailadres. Een link om je wachtwoord te wijzigen wordt vervolgens naar je toegezonden.</p>
    </div>
    <div class="input-wrapper">
      <b-form-input
        type="email"
        placeholder="Email adres"
        v-model="formData.forgotEmail"
      />
    </div>
    <div
      slot="modal-footer"
      class="button-wrapper">
      <a
        @click="closeModal"
        class="btn btn-md custom-button button-cancel">{{ 'Annuleren' | toUpperCase }}
      </a>
      <a
        @click="submit"
        class="btn btn-md custom-button cta-button-ghost">{{ 'Aanvragen' | toUpperCase }}
      </a>
    </div>
  </b-modal>
</template>

<script>
  import {forgotPassword} from '../../../../services/userService'
  import {forgotPasswordText} from '../../../backoffice/text/pages/index'
  import {toUpperCase} from '../../../../helpers/stringFilters'

  export default {
    name: 'ForgotPassword',
    filters: {toUpperCase},
    props: {
      showModal: {
        type: Boolean,
        default: true
      },
      forgotEmail: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        formData: {
          forgotEmail: undefined
        },
        blockSubmission: true
      }
    },
    methods: {
      async submit () {
        await forgotPassword(this.formData)
      },
      closeModal () {
        this.$emit('close-modal')
      }
    },
    computed: {
      textData () {
        return forgotPasswordText
      }
    },
    created () {
      if (this.forgotEmail) {
        this.email = this.forgotEmail
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .modal-dialog {
    & > .modal-content {
      & > .modal-header {
        border-bottom: 0;
        padding-top: 11px;
        padding-bottom: 0;
        padding-right: 6.25px;
      }
      & > .modal-body {
        padding-top: 6px;
        padding-left: 36px;
        padding-right: 48px;

        @include media-breakpoint-down(sm) {
          padding-right: 36px;
        }

        & > .title-wrapper {
          padding-left: 9.5px;

          @include media-breakpoint-down(sm) {
            padding-left: 0;
          }
        }

        & > .description-wrapper {
          margin-bottom: 28px;

          @include media-breakpoint-down(sm) {
            margin-bottom: 0;
          }
        }
      }
      & > .modal-footer {
        border-top: 0;
        padding-top: 24px;
        padding-bottom: 33px;
        padding-right: 48px;

        @include media-breakpoint-down(sm) {
          padding-top: 0;
          padding-right: 16px;
        }

        & > .button-wrapper {
          width: 100%;
          text-align: right;

          @include media-breakpoint-down(sm) {
            text-align: center;
          }

          & > a:first-child {
            margin-right: 32px;

            @include media-breakpoint-down(sm) {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
</style>
