<template>
  <div class="login-wrapper">
    <ActionsHeader/>
    <div class="container content-wrapper">
      <div class="row">
        <b-col
          md="8"
          lg="6"
          offset-md="2"
          offset-lg="3">
          <div class="title-wrapper">
            <h1>Inloggen</h1>
          </div>
          <div class="form-wrapper">
            <b-alert
              show
              variant="danger"
              v-show="!!error"
              v-for="(message, key) in error"
              :key="key">
              {{ message }}
            </b-alert>
            <div class="input-wrapper">
              <b-form-input
                type="email"
                placeholder="Email adres"
                v-model.trim="formData.userName"
              />
            </div>
            <div class="input-wrapper">
              <b-form-input
                type="password"
                placeholder="Wachtwoord"
                v-model.trim="formData.password"
              />
            </div>
            <div class="button-wrapper text-right">
              <a
                @click="login"
                class="btn btn-md custom-button cta-button-ghost">{{ 'Inloggen' | toUpperCase }}
              </a>
            </div>
            <div class="forgot-password-wrapper">
              <a
                @click.prevent="showModal = true"
                href="#"
                class="color-pumpkin"
              >Wachtwoord vergeten</a>
            </div>
          </div>
        </b-col>
        <b-col
          md="8"
          lg="6"
          offset-md="2"
          offset-lg="3"
          class="register-wrapper">
          <div class="title-wrapper">
            <router-link
              tag="h3"
              to="register">
              Nog geen account? Registreer je dan hier.
            </router-link>
          </div>
        </b-col>
      </div>
    </div>
    <ForgotPassword
      v-if="showModal"
      @close-modal="showModal = false"/>
  </div>
</template>

<script>
  import { loginText } from '../../../backoffice/text/pages/index'
  import ActionsHeader from './components/Header'
  import ForgotPassword from './ForgotPassword'
  import { toUpperCase } from '../../../../helpers/stringFilters'

  export default {
    name: 'Login',
    components: { ForgotPassword, ActionsHeader },
    filters: { toUpperCase },
    props: {
      loggedOutAutomatically: {
        type: Boolean,
        default: false
      },
      callback: {
        type: Function,
        default: undefined
      }
    },
    data () {
      return {
        blockSubmission: true,
        formData: {
          userName: undefined
        },
        error: undefined,
        showModal: false
      }
    },
    methods: {
      login () {
        this.$store.dispatch('auth/login', [
          this.formData,
          this.callback, (error) => this.setError((error || {})['IdentityError'])
        ])
      },
      setError (error) {
        if (!error) return
        this.error = error
        setTimeout(5000, () => this.resetError())
      },
      resetError () {
        this.error = undefined
      }
    },
    computed: {
      getHeader () {
        return this.loggedOutAutomatically ? this.getText('sessionExpired') : ''
      },
      textData () {
        return loginText
      }
    },
    created () {
      if (this.$store.getters['auth/userId'] && this.$store.getters['auth/isAuthenticated']) {
        this.$router.push('/')
      }
      if (this.callback) {
        this.setError({ message: 'Je moet ingelogd zijn om verder te gaan.' })
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .login-wrapper {
    & > .content-wrapper {
      padding-top: 41px;
      padding-bottom: 234px;

      @include media-breakpoint-down(md) {
        padding-top: 32px;
        padding-bottom: 224px;
      }

      & > .row {
        & > div:first-child {
          & > .title-wrapper {
            margin-bottom: 25px;
          }
          & > .form-wrapper {
            margin-bottom: 70px;
            padding-bottom: 17px;

            & > .button-wrapper {
              padding-top: 18px;
            }

            & > .forgot-password-wrapper {
              margin-top: 47px;
            }
          }
        }
        & > div:last-child {
          & > .title-wrapper {
            & > h3 {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
</style>
