<template>
  <div class="register-wrapper">
    <ActionsHeader/>
    <div class="content-wrapper container">
      <div class="row">
        <b-col
          md="5"
          class="text-wrapper">
          <div class="title-wrapper">
            <h1>Registreren</h1>
            <h3>Waarom registreren?</h3>
          </div>
          <div class="intro-wrapper">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at consequat orci. Nulla at consectetur
              tortor. Nam volutpat nulla metus, et suscipit nulla pharetra sed.
            </p>
          </div>
          <div class="dropdown-wrapper">
            <div
              class="item"
              v-for="(item, key) in items"
              :key="key"
              :class="key === active ? 'active' : ''"
              @click="handleClick(key)"
            >
              <div class="top-wrapper">
                <div class="icon-wrapper">
                  <img
                    :src="item.image"
                    :alt="item.title + 'icon'">
                </div>
                <div class="title-wrapper">
                  <h3>{{ item.title }}</h3>
                </div>
              </div>
              <transition name="fadeInUp">
                <div
                  class="description-wrapper"
                  v-if="active === key">
                  <p>{{ item.description }}</p>
                </div>
              </transition>
            </div>
          </div>
        </b-col>
        <b-col
          md="7"
          lg="6"
          offset-lg="1">
          <div class="form-wrapper">
            <div class="personal-info-wrapper section-end">
              <div class="title-wrapper">
                <h4>Je gegevens</h4>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Voornaam"
                  v-model.trim="formData.firstName"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Achternaam"
                  v-model.trim="formData.lastName"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Emailadres"
                  v-model.trim="formData.email"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Postcode"
                  v-model.trim="formData.zipCode"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Adres"
                  v-model.trim="formData.address"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Bankrekeningnummer voor uitbetaling"
                  v-model.trim="formData.iban"/>
              </div>
            </div>
            <div class="license-wrapper section-end">
              <div class="title-wrapper">
                <h4>Kenteken(s)</h4>
              </div>
              <div
                class="input-wrapper"
                v-for="(licensePlate, key) in formData.licensePlates"
                :key="key">
                <b-form-input
                  placeholder="Kenteken"
                  v-model.trim="formData.licensePlates[key]"/>
              </div>
              <div class="button-wrapper">
                <a
                  href="#"
                  @click.prevent.stop="addLicensePlate"
                  class="link icon-plus">Kenteken toevoegen</a>
              </div>
            </div>
            <div class="password-wrapper">
              <div class="title-wrapper">
                <h4>Wachtwoord</h4>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  v-model="formData.password"
                  type="password"
                  placeholder="Wachtwoord"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  v-model="formData.confirmPassword"
                  type="password"
                  placeholder="Herhaling wachtwoord"/>
              </div>
            </div>
            <div class="checkbox-wrapper">
              <b-form-checkbox
                v-model="formData.agreeTermsOfConditions"
                :checked="true"
                :unchecked="false"
              >
                Ik accepteer de
                <a
                  href="#"
                  class="color-pumpkin">
                  algemene voorwaarden
                </a>
              </b-form-checkbox>
            </div>
            <div class="button-wrapper text-right">
              <a
                href="#"
                @click.prevent.stop="registerUser"
                class="btn btn-md custom-button cta-button-ghost">{{ 'Registreren' | toUpperCase }}
              </a>
            </div>
          </div>
        </b-col>
      </div>
    </div>
  </div>
</template>

<script>
  import { registerUser } from '../../../../services/userService'
  import { registerText } from '../../../backoffice/text/pages/index'
  import { toUpperCase } from '../../../../helpers/stringFilters'
  import ActionsHeader from './components/Header'

  export default {
    name: 'Register',
    components: { ActionsHeader },
    filters: { toUpperCase },
    data () {
      return {
        blockSubmission: true,
        active: undefined,
        items: [
          {
            title: 'Je eigen rijgedrag',
            image: '/static/img/features/icon_usp_1.svg',
            description: 'Wij vinden het belangrijk dat je jouw rijgedrag niet hoeft aan te passen! Dus je hoeft niet meer of minder kilometers te rijden, niet harder of zachter, enzovoort.'
          },
          {
            title: 'Wij komen naar je toe',
            image: '/static/img/features/icon_usp_2.svg',
            description: 'Wij komen naar je toe, je hoeft niet naar een vreemde locatie! We komen bij je thuis in de straat, maar ook bij je op het werk, of waar het je ook maar uitkomt.'
          },
          {
            title: 'Vrijblijvend',
            image: '/static/img/features/icon_usp_3.svg',
            description: 'Wij geloven in ongedwongenheid! Het blijft altijd vrijblijvend om mee te doen. Wekelijks zullen we nieuwe campagnes aanbieden. En kan je zelf kiezen of je wel of geen campagne wilt op jouw achterruit. Daarnaast duren de campagnes niet langer dan 4 weken. (Campagnes duren 1, 2, 3, of 4 weken)'
          },
          {
            title: 'Vrije keuze',
            image: '/static/img/features/icon_usp_4.svg',
            description: 'Wij vinden dat je zelf mag kiezen! Wij bieden de campagnes in een lijst aan, en zo kan je makkelijk kiezen welke campagne je toe wilt laten. Door een campagne te selecteren kan je de inhoud zien en weet je welke campagne je toe laat op jouw achterruit.'
          }
        ],
        formData: {
          firstName: '',
          lastName: '',
          address: '',
          zipCode: '',
          email: '',
          iban: '',
          licensePlates: [''],
          password: '',
          confirmPassword: '',
          agreeTermsOfConditions: false
        }
      }
    },
    methods: {
      async registerUser () {
        // @todo validate

        await registerUser(
          this.formData,
          () => this.$router.push({
            name: 'ConfirmPage',
            params: { edited: ['Email'] }
          })
        )
      },
      handleClick (key) {
        this.active = this.active === key ? undefined : key
      },
      addLicensePlate () {
        if (this.formData.licensePlates[this.formData.licensePlates.length - 1]) this.formData.licensePlates.push('')
      }
    },
    computed: {
      textData () {
        return registerText
      }
    },
    beforeCreate () {
      if (this.$store.getters['auth/userId'] && this.$store.getters['auth/isAuthenticated']) {
        this.$router.push('/')
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/frontoffice/prerequisites";
  @import "../../../../assets/scss/frontoffice/animate";

  .register-wrapper {
    & > .content-wrapper {
      padding-top: 41px;
      padding-bottom: 190px;

      @include media-breakpoint-down(md) {
        padding-top: 51px;
        padding-bottom: 247px;
      }

      @include media-breakpoint-down(sm) {
        padding-bottom: 128px;
      }

      & > div {
        & > .text-wrapper {
          & > .title-wrapper {
            & > h1 {
              margin-bottom: 44px;

              @include media-breakpoint-down(sm) {
                margin-bottom: 17px;
              }
            }
            & > h3 {
              margin-left: 9.5px;
              margin-bottom: 21px;

              @include media-breakpoint-down(sm) {
                margin-left: 0;
              }
            }
          }
          & > .intro-wrapper {
            & > p {
              color: $color-midnight-green;
              font-weight: 600;
              font-size: 18px;
              margin-bottom: 35px;

              @include media-breakpoint-down(sm) {
                margin-bottom: 29px;
              }
            }
          }
          & > .dropdown-wrapper {
            @include media-breakpoint-down(sm) {
              display: none;
            }

            & > .item {
              background: $color-ghost-white;
              border-radius: 23px;
              padding: 12px 25px 15px 22px;
              cursor: pointer;
              position: relative;
              margin-bottom: 14px;

              &::after {
                position: absolute;
                content: url("/static/img/form/icon_down_big_orange.svg");
                top: 31px;
                right: 16px;
                width: 19px;
                height: 12px;
              }

              &:not(:active) {
                &::after {
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -ms-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  transform: rotate(0deg);
                }
              }

              &.active {
                &::after {
                  -webkit-transform: rotate(180deg);
                  -moz-transform: rotate(180deg);
                  -ms-transform: rotate(180deg);
                  -o-transform: rotate(180deg);
                  transform: rotate(180deg);
                  top: 43px
                }
              }

              & > .top-wrapper {
                @include media-breakpoint-down(md) {
                  display: flex;
                  align-items: center;
                }

                & > .icon-wrapper {
                  display: inline-block;
                  margin-right: 28px;
                  width: 65px;

                  @include media-breakpoint-down(md) {
                    margin-right: 14px;
                  }
                }
                & > .title-wrapper {
                  display: inline-block;

                  @include media-breakpoint-down(md) {
                    width: 140px;
                  }
                }
              }

              & > .description-wrapper {
                margin-left: 103px;

                @include media-breakpoint-down(md) {
                  margin-left: 0;
                  margin-top: 15px;
                }
              }

              .fadeInUp-enter-active {
                animation: fadeIn .5s;
              }
              .fadeInUp-leave-active {
                animation: fadeOut .3s;
              }
            }
          }
        }

        & > div > .form-wrapper {
          & > div {
            & > .title-wrapper {
              & > h4 {
                margin-bottom: 14px;
              }
            }
          }

          & > .license-wrapper {
            padding-top: 5px;
            padding-bottom: 37px;
          }

          & > .password-wrapper {
            padding-top: 5px;
          }

          & > .checkbox-wrapper {
            padding-left: 20px;
            padding-bottom: 50px;
          }

          @include media-breakpoint-down(sm) {
            & > .button-wrapper {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
</style>
