<template>
  <div class="reset-password-wrapper">
    <ActionsHeader/>
    <div class="container content-wrapper">
      <div class="row">
        <b-col
          md="8"
          lg="6"
          offset-md="2"
          offset-lg="3">
          <div class="title-wrapper">
            <h1>Wachtwoord opnieuw instellen</h1>
          </div>
          <div class="form-wrapper">
            <b-alert
              show
              variant="danger"
              v-show="!!error"
              v-for="(message, key) in error"
              :key="key">
              {{ message }}
            </b-alert>
            <div class="input-wrapper">
              <b-form-input
                type="password"
                placeholder="Wachtwoord"/>
            </div>
            <div class="input-wrapper">
              <b-form-input
                type="password"
                placeholder="Herhaling wachtwoord"/>
            </div>
            <div class="button-wrapper text-right">
              <a
                @click="resetPassword"
                class="btn btn-md custom-button cta-button-ghost">{{ 'Versturen' | toUpperCase }}
              </a>
            </div>
          </div>
        </b-col>
      </div>
    </div>
  </div>
</template>

<script>
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import {resetPassword} from '../../../../services/userService'
  import ActionsHeader from './components/Header'
  import {toUpperCase} from '../../../../helpers/stringFilters'

  export default {
    name: 'ResetPassword',
    components: { ActionsHeader, FormBuilder },
    filters: { toUpperCase },
    props: {
      loggedOutAutomatically: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        blockSubmission: true,
        formData: {
          userName: undefined
        },
        error: undefined,
        showModal: false
      }
    },
    methods: {
      setRouteData () {
        this.userId = this.$route.query['userId']
        this.token = this.$route.query['token']
        if (!this.userId || !this.token) {
          this.$toastr.e('Invalid route parameters', 'Error')
          this.$router.push({name: 'Login'})
        }
      },
      async resetPassword () {
        await resetPassword(
          {
            userId: this.userId,
            token: this.token,
            ...this.formData
          },
          () => this.$router.push({name: 'Login'})
        )
      }
    },
    created () {
      this.setRouteData()
    },
    destroyed () {
      // react to route changes...
      VueEventListener.fire('stopLoading')
    }
  }
</script>

<style lang="scss" scoped>
  .reset-password-wrapper {
    & > .content-wrapper {
      padding-top: 41px;
      padding-bottom: 234px;

      & > .row {
        & > div:first-child {
          & > .title-wrapper {
            margin-bottom: 25px;
          }
          & > .form-wrapper {
            margin-bottom: 70px;
            padding-bottom: 17px;

            & > .button-wrapper {
              padding-top: 18px;
            }

            & > .forgot-password-wrapper {
              margin-top: 47px;
            }
          }
        }
      }
    }
  }
</style>
