<template>
  <b-row>
    <b-col cols="12">
      <b-card
        :header="getText('resetPasswordText')">
        <p>{{ getText('title') }}</p>
        <p>{{ getText('subtitle') }}</p>

        <b-button
          variant="success"
          block
          @click="submit"><p>{{ getText('submit') }}</p></b-button>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import {resetPassword} from '@/services/customerService'
  import {resetPasswordText} from '../../../text/users/index'

  export default {
    name: 'UserResetPassword',
    methods: {
      async submit () {
        await resetPassword(() => this.$router.push({name: 'UserDetails'}))
      }
    },
    computed: {
      textData () {
        return resetPasswordText
      }
    }
  }
</script>

<style scoped>

</style>
