<template>
  <div>
    <router-view/>
    <LoadingOverlay/>
  </div>
</template>

<script>
  import LoadingOverlay from '@/components/shared/LoadingOverlay'

  export default {
    components: {LoadingOverlay},
    data () {
      return {}
    },
    created () {
      this.$store.dispatch('auth/tryAutoLogin')
      VueEventListener.listen('successMessage', (successMessage) => this.$toastr.s(successMessage, 'Success'))
      VueEventListener.listen('errorMessage', (errorMessage) => this.$toastr.e(errorMessage, 'Error'))
    }
  }
</script>

<style lang="scss">
  // Import Main styles for this application
  @import '../../assets/scss/backoffice/style';

  html, body, #app {
    margin: 0;
    padding: 0;
    height: 100%;

    & > div:first-child {
      height: 100%;
    }
  }
</style>
