<template>
  <div class="advertisements-wrapper">
    <div class="cloud-1"/>
    <div class="cloud-2"/>
    <b-container>
      <div class="title-wrapper text-center">
        <h2>Nieuwste campagnes</h2>
      </div>
      <b-row>
        <AdvertisementItem
          v-for="(advertisement, key) in advertisements"
          :key="key"
          :advertisement="advertisement"
        />
      </b-row>
    </b-container>
  </div>
</template>

<script>
  import { fetchNewestAdvertisements } from '@/services/advertisementService'

  import AdvertisementItem from '../../advertisement/AdvertisementItem'
  export default {
    name: 'IndexAdvertisements',
    components: { AdvertisementItem },
    data () {
      return {
        advertisements: [
          {
            logo: '/static/img/products/img_placeholder_logo_coffee.png',
            image: '/static/img/products/coffee.jpg',
            title: 'Nike Runner schoenactie',
            duration: 2,
            compensation: 20,
            badge: {
              color: 'blue',
              description: 'Beperkt beschikbaar'
            }
          },
          {
            logo: '/static/img/products/img_placeholder_logo_coffee.png',
            image: '/static/img/products/coffee.jpg',
            title: 'Nike Runner schoenactie',
            duration: 2,
            compensation: 20,
            badge: {
              color: 'green',
              description: '100% electrisch'
            }
          },
          {
            logo: '/static/img/products/img_placeholder_logo_coffee.png',
            image: '/static/img/products/coffee.jpg',
            title: 'Nike Runner schoenactie',
            duration: 2,
            compensation: 20,
            badge: {
              color: 'blue',
              description: 'Beperkt beschikbaar'
            }
          },
          {
            logo: '/static/img/products/img_placeholder_logo_coffee.png',
            image: '/static/img/products/coffee.jpg',
            title: 'Nike Runner schoenactie',
            duration: 2,
            compensation: 20,
            badge: {
              color: 'green',
              description: '100% electrisch'
            }
          }
        ]
      }
    },
    async beforeCreate () {
      this.advertisements = await fetchNewestAdvertisements()
    }
  }
</script>

<style lang="scss">
  @import "../../../../../assets/scss/frontoffice/prerequisites";

  .advertisements-wrapper {
    position: relative;
    & > .cloud-1 {
      background: url("/static/img/backgrounds/img_cloud_1.svg") bottom right;
      position: absolute;
      left: 0;
      top: 228px;
      height: 61px;
      width: 79px;

      @include media-breakpoint-down(md) {
        top: 542px;
      }

      @include media-breakpoint-down(sm) {
        top: 1658px;
      }
    }

    & > .cloud-2 {
      background: url("/static/img/backgrounds/img_cloud_2.svg") bottom left;
      position: absolute;
      top: 0;
      right: 0;
      height: 52px;
      width: 104px;

      @include media-breakpoint-down(md) {
        top: -25px;
      }

      @include media-breakpoint-down(sm) {
        top: 91px;
      }
    }

    & > .container {
      padding-bottom: 109px;

      @include media-breakpoint-down(md) {
        padding-bottom: 31px;

        & > .row {
          .advertisement-item:last-child {
            display: none;
          }
        }
      }

      @include media-breakpoint-down(sm) {
        padding-bottom: 47px;
      }

      & > .title-wrapper {
        margin-top: 25px;
        margin-bottom: 45px;
      }
    }
  }
</style>
