<template>
  <div class="features-wrapper">
    <div class="cloud-3"/>
    <div class="cloud-4"/>
    <div class="container">
      <div class="title-wrapper">
        <h2>Waar wij <span>voor staan</span></h2>
        <h5>
          Ben je in bezit van een auto en wil je makkelijk geld verdienen? Dan kan dat bij Sloesh. Op onze toekomstige
          site zullen we meer informatie geven over hoe je makkelijk 20 tot 200 euro per maand kan verdienen met reclame
          op jouw auto. Ook geven we je de mogelijkheid om je nu al aan te melden.
        </h5>
      </div>
      <b-row>
        <b-col md="3">
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <img
                src="/static/img/features/icon_usp_1.svg"
                alt="Je eigen rijgedrag icon">
            </div>
            <div class="title-wrapper">
              <h3>Je eigen rijgedrag</h3>
            </div>
            <div class="text-wrapper">
              <p>
                Wij vinden het belangrijk dat je jouw rijgedrag niet hoeft aan te passen! Dus je hoeft niet meer of
                minder kilometers te rijden, niet harder of zachter, enzovoort.
              </p>
            </div>
          </div>
        </b-col>
        <b-col md="3">
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <img
                src="/static/img/features/icon_usp_2.svg"
                alt="Wij komen naar je toe icon">
            </div>
            <div class="title-wrapper">
              <h3>Wij komen naar je toe</h3>
            </div>
            <div class="text-wrapper">
              <p>
                Wij komen naar je toe, je hoeft niet naar een vreemde locatie! We komen bij je thuis in de straat, maar
                ook bij je op het werk, of waar het je ook maar uitkomt.
              </p>
            </div>
          </div>
        </b-col>
        <b-col md="3">
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <img
                src="/static/img/features/icon_usp_3.svg"
                alt="Vrijblijvend icon">
            </div>
            <div class="title-wrapper">
              <h3>Vrijblijvend</h3>
            </div>
            <div class="text-wrapper">
              <p>
                Wij geloven in ongedwongenheid! Het blijft altijd vrijblijvend om mee te doen. Wekelijks zullen we
                nieuwe campagnes aanbieden. En kan je zelf kiezen of je wel of geen campagne wilt op jouw achterruit.
                Daarnaast duren de campagnes niet langer dan 4 weken. (Campagnes duren 1, 2, 3, of 4 weken)
              </p>
            </div>
          </div>
        </b-col>
        <b-col md="3">
          <div class="item-wrapper">
            <div class="icon-wrapper">
              <img
                src="/static/img/features/icon_usp_4.svg"
                alt="Vrije keuze icon">
            </div>
            <div class="title-wrapper">
              <h3>Vrije keuze</h3>
            </div>
            <div class="text-wrapper">
              <p>
                Wij vinden dat je zelf mag kiezen! Wij bieden de campagnes in een lijst aan, en zo kan je makkelijk
                kiezen welke campagne je toe wilt laten. Door een campagne te selecteren kan je de inhoud zien en weet
                je welke campagne je toe laat op jouw achterruit.
              </p>
            </div>
          </div>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'IndexFeatures'
  }
</script>

<style lang="scss">
  @import "../../../../../assets/scss/frontoffice/prerequisites";

  .features-wrapper {
    background: url("/static/img/features/background.svg") no-repeat;
    background-size: cover;
    padding-top: 71px;
    padding-bottom: 118px;
    position: relative;

    @include media-breakpoint-down(md) {
      background: url("/static/img/features/background-small.svg") no-repeat;
      background-size: cover;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      background-position: top;
    }

    & > .cloud-3 {
      position: absolute;
      left: 0;
      bottom: 212px;
      width: 76px;
      height: 41px;
      background: url("/static/img/features/img_cloud_3.svg") bottom right;

      @include media-breakpoint-down(md) {
        bottom: 133px;
      }

      @include media-breakpoint-down(sm) {
        bottom: 62px;
      }
    }

    & > .cloud-4 {
      position: absolute;
      right: 0;
      top: 321.16px;
      width: 132px;
      height: 52px;
      background-image: url("/static/img/features/img_cloud_4.svg");

      @include media-breakpoint-down(md) {
        top: 44px;
      }

      @include media-breakpoint-down(sm) {
        top: 403px;
      }
    }

    & > .container {
      & > .title-wrapper {
        text-align: center;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;

        @include media-breakpoint-down(sm) {
          width: 100%;

          & > h2 {
            margin-bottom: 19px;
            & > span {
              display: inline-block;
            }
          }
        }

        & > h5 {
          font-size: 18px;
          font-weight: 600;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 28px;
        }
      }

      & > .row {
        & > div {
          & > .item-wrapper {
            @include media-breakpoint-down(sm) {
              margin-bottom: 34px;
            }

            & > .icon-wrapper {
              width: 61px;
              height: 61px;
              margin-bottom: 17px;
              margin-left: 13px;
            }
            & > .title-wrapper {
              margin-bottom: 12px;
            }
            & > .text-wrapper {
              width: 90%;
            }
          }
        }
      }
    }
  }
</style>
