<template>
  <div class="header-wrapper container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="title-wrapper text-center">
      <h1>{{ getText('title') }}</h1>
      <h2>{{ getText('subtitle') }}</h2>
    </div>
    <div class="form-wrapper">
      <b-form-group v-if="!isAuthenticated">
        <b-form-input
          v-model.trim="zipCode"
          :placeholder="getText('zipCode')"
          class="zip-code"
        />
      </b-form-group>
      <b-form-group v-if="!isAuthenticated">
        <b-form-input
          v-model.trim="licensePlate"
          :placeholder="getText('licensePlate')"
          class="license-plate"
        />
      </b-form-group>
      <div class="button-wrapper d-md-inline">
        <router-link
          :to="{name: 'AdvertisementOverview', params: {zipCode, licensePlate}}"
          class="btn btn-md custom-button cta-button-ghost">{{ getText('search') | toUpperCase }}
        </router-link>
      </div>
    </div>
    <div class="text-wrapper">
      <p>
        * Sloesh plaatst campagnes op basis van jouw type auto.<br>
        Deze gegevens worden verder niet gebruikt.
      </p>
    </div>
  </div>
</template>

<script>
  import { indexText } from '../../../text/index/index'
  import { toUpperCase } from '../../../../../helpers/stringFilters'

  export default {
    name: 'IndexHeader',
    filters: { toUpperCase },
    data () {
      return {
        zipCode: '',
        licensePlate: ''
      }
    },
    computed: {
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      },
      textData () {
        return indexText
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../../../assets/scss/frontoffice/prerequisites";

  .header-wrapper {
    height: 35vw;
    min-height: 588px;
    width: 100%;
    /* Center and scale the image nicely */
    background-image: url("/static/img/backgrounds/img_heading_overlay.svg"), url("/static/img/backgrounds/img_header_1.jpg");
    background-repeat: no-repeat no-repeat;
    background-position: left, center;
    background-size: cover, cover;
    color: #fff;

    @include media-breakpoint-down(md) {
      min-height: 404px;
      height: 51.8vw;
    }

    @include media-breakpoint-down(sm) {
      min-height: 553px;
      height: 2vw;
      padding-top: 80px;
      background-size: auto, 350% 100%;
      background-position: 0 bottom, 67% 50%;
      padding-bottom: 37px;
    }

    & > .title-wrapper {
      margin-top: 35px;
      font-family: 'Bree Serif', serif;

      @include media-breakpoint-down(sm) {
        margin-top: 14px;
      }

      & > h1 {
        font-size: 40px;
        color: #fff;

        @include media-breakpoint-only(md) {
          font-size: 32px;
        }
      }

      & > h2 {
        font-size: 24px;

        @include media-breakpoint-only(md) {
          font-size: 19.2px;
        }
      }
    }

    & > .form-wrapper {
      margin-top: 28px;
      padding: 17px 24px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.36);

      @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      @include media-breakpoint-down(md) {
        margin-top: 16px;
      }

      @include media-breakpoint-down(sm) {
        margin-top: 7px;
        padding: 7px;

        & > .button-wrapper {
          width: 100%;

          & > .btn {
            width: 100%;
          }
        }
      }

      & > .form-group {
        display: inline;
        margin-right: 25px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-right: 0;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        .form-control {
          height: 54px;
          color: #A9A9A9;
          font-weight: 700;
          border: 0;

          &::placeholder {
            color: #A9A9A9;
            font-weight: 700;
          }

          &.zip-code {
            width: 176px;

            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }

          &.license-plate {
            width: 251px;
            border: 2px solid #000;
            position: relative;
            background: #FFC900 url("/static/img/form/license-nl.svg") no-repeat 0 0;
            background-size: contain;
            padding-left: 44px;
            height: 56px;

            @include media-breakpoint-down(sm) {
              width: 100%;
            }

            &::placeholder {
              color: #5B5B5B;
            }
          }
        }
      }
    }

    & > .text-wrapper {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      margin-top: 24px;

      @include media-breakpoint-down(md) {
        margin-top: 10px;
      }

      @include media-breakpoint-down(sm) {
        br {
          display: none;
        }
      }
    }
  }
</style>
