<template>
  <div class="infographic-wrapper">
    <b-container>
      <div class="title-wrapper text-center">
        <h2>Zo werkt het</h2>
      </div>
      <b-row>
        <b-col md="4">
          <div class="item-wrapper">
            <div class="title-wrapper">
              <h3>Registreren</h3>
            </div>
            <div class="img-wrapper">
              <img
                src="/static/img/infographic/img_how_to_1.svg"
                alt="Registreren image">
            </div>
          </div>
        </b-col>
        <b-col md="4">
          <div class="item-wrapper">
            <div class="title-wrapper">
              <h3>Campagne uitkiezen en aanmelden</h3>
            </div>
            <div class="img-wrapper">
              <img
                src="/static/img/infographic/img_how_to_2.svg"
                alt="Campagne uitkiezen en aanmelden">
            </div>
          </div>
        </b-col>
        <b-col md="4">
          <div class="item-wrapper">
            <div class="title-wrapper">
              <h3>Geld verdienen</h3>
            </div>
            <div class="img-wrapper">
              <img
                src="/static/img/infographic/img_how_to_3.svg"
                alt="Geld verdienen image">
            </div>
          </div>
        </b-col>
      </b-row>
      <div class="button-wrapper text-center">
        <router-link
          :to="{name: 'Register'}"
          class="btn btn-md custom-button cta-button-ghost">{{ 'Gratis Registeren' | toUpperCase }}
        </router-link>
      </div>
    </b-container>
  </div>
</template>

<script>
  import {toUpperCase} from '../../../../../helpers/stringFilters'

  export default {
    name: 'IndexInfographic',
    filters: { toUpperCase }
  }
</script>

<style lang="scss">
  @import "../../../../../assets/scss/frontoffice/prerequisites";

  .infographic-wrapper {
    padding-bottom: 87px;

    @include media-breakpoint-down(sm) {
      padding-bottom: 54px;
    }

    & > .container {
      @include media-breakpoint-only(md) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 0;
      }

      & > .title-wrapper {
        margin-bottom: 44px;
      }

      & > .row {
        margin-bottom: 57px;
        & > div {
          @include media-breakpoint-only(md) {
            padding-left: 0;
            padding-right: 0;
          }

          & > .item-wrapper {
            text-align: center;
            position: relative;

            & > .title-wrapper {
              height: 57.6px;
            }
          }

          &:not(:last-child) {
            @include media-breakpoint-up(sm) {
              & > .item-wrapper:after {
                position: absolute;
                top: 60%;
                height: 19px;
                z-index: 1;
                width: 156px;

                @include media-breakpoint-up(md) {
                  content: url('/static/img/infographic/connect-line.svg');
                }

                @include media-breakpoint-only(md) {
                  content: url('/static/img/infographic/connect-line-small.svg');
                  width: 62px;
                  height: 16px;
                }
              }
            }
            @include media-breakpoint-down(sm) {
              margin-bottom: 38px;
            }
          }

          &:first-child {
            & > .item-wrapper {
              @include media-breakpoint-up(sm) {
                &:after {
                  right: -24.5%;
                }

                @include media-breakpoint-only(md) {
                  &:after {
                    right: -9%;
                  }

                  & > .img-wrapper {
                    & > img {
                      width: 240px;
                      height: 215px;
                    }
                  }
                }
              }
              @include media-breakpoint-down(sm) {
                & > .img-wrapper {
                  & > img {
                    width: 275px;
                    height: 280px;
                  }
                }
              }
            }
          }

          &:nth-child(2) {
            & > .item-wrapper {
              @include media-breakpoint-up(sm) {
                &:after {
                  right: -27.5%;
                }
                @include media-breakpoint-only(md) {
                  &:after {
                    right: -12.5%;
                  }

                  & > .img-wrapper {
                    & > img {
                      width: 213px;
                      height: 215px;
                    }
                  }
                }
              }
              @include media-breakpoint-down(sm) {
                & > .img-wrapper {
                  & > img {
                    width: 253px;
                    height: 275px;
                  }
                }
              }
            }
          }

          &:last-child {
            @include media-breakpoint-down(sm) {
              padding-right: 0;
            }

            & > .item-wrapper {
              & > .img-wrapper {
                @include media-breakpoint-up(sm) {
                  padding-left: 40px;

                  @include media-breakpoint-only(md) {
                    padding-left: 10px;
                    & > img {
                      width: 255px;
                      height: 215px;
                    }
                  }
                }

                @include media-breakpoint-down(sm) {
                  & > img {
                    width: 275px;
                    height: 265px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
