<template>
  <b-col
    class="advertisement-item"
    cols="12"
    md="4"
    lg="3">
    <div class="logo-wrapper">
      <img
        :src="advertisement.logo"
        :alt="'Logo ' + advertisement.title">
    </div>
    <b-card
      no-body
      img-top
      :img-src="advertisement.image"
      :img-alt="'Image advertisement' + advertisement.title"
    >
      <div
        v-if="!checkEmptyBadge"
        class="card-badge"
        :class="'badge-' + (advertisement.badge || {}).color">
        <span>{{ (advertisement.badge || {}).description }}</span>
      </div>
      <b-card-body>
        <h3 class="card-title">{{ advertisement.title }}</h3>
        <div class="compensation-wrapper">
          <h5>&euro; {{ advertisement.compensation }},- per week</h5>
        </div>
        <div class="subtitle-wrapper">
          <h5 class="medium-heading">looptijd: {{ advertisement.duration }} weken</h5>
        </div>
        <router-link
          :to="{ name: 'AdvertisementDetail', params: {advertisement} }"
          class="submit-btn link">
          Aanmelden
        </router-link>
      </b-card-body>
    </b-card>
  </b-col>
</template>

<script>
  export default {
    name: 'AdvertisementItem',
    props: {
      advertisement: {
        type: Object,
        required: true,
        default () {
          return {
            logo: '',
            image: '',
            badge: {},
            title: '',
            compensation: 0,
            duration: 0
          }
        }
      }
    },
    computed: {
      checkEmptyBadge () {
        return this.advertisement.badge &&
          Object.entries(this.advertisement.badge).length === 0 &&
          this.advertisement.badge.constructor === Object
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .advertisement-item {
    margin-bottom: 45px;

    & > .logo-wrapper {
      max-height: 100px;
      padding-top: 10px;
      padding-bottom: 22px;

      & > img {
        max-height: 80px;
        max-width: 100%;
      }
    }

    & > .card {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
      border: 0;
      border-radius: 5px;
      position: relative;

      & > .card-img-top {
        height: 148px;
      }

      & > .card-badge {
        position: absolute;
        top: 13px;
        color: #fff;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        padding: 4px 20px 4px 6px;
        max-width: 100%;

        &.badge-green {
          background-color: #20CF60;
        }
        &.badge-blue {
          background-color: #1AA2F5;
        }

        & > span {
          font-size: 17px;
          font-weight: 700;
        }
      }

      & > .card-body {
        & > .card-title {
          font-family: 'Bree Serif', serif;
          color: $color-midnight-green;
          font-weight: 400;
          font-size: 24px;
        }

        & > .compensation-wrapper {
          background-color: $color-persian-green;
          display: inline-block;
          border-radius: 20px;
          color: #fff;
          padding: 9px 15px;
          margin-top: 10px;
          margin-bottom: 9px;

          & > h5 {
            font-size: 17px;
            font-weight: 700;
            margin-bottom: 0;
          }
        }

        & > .subtitle-wrapper {
          margin-bottom: 20px;
        }

        & > .submit-btn {
          &::after {
            content: url("/static/img/form/icon_arrow_right_green.svg");
            position: absolute;
            top: 0;
            right: -20px;
          }

          &:hover::after {
            right: -30px;
          }
        }
      }
    }
  }
</style>
