<template>
  <div class="advertisement-detail-wrapper">
    <div
      class="header"
      :style="getHeaderPhoto">
      Header
    </div>
    <div class="content-wrapper container">
      <div class="row">
        <b-col
          md="5"
          class="text-wrapper">
          <div class="title-wrapper">
            <h3>Aanmelden</h3>
            <h1>{{ advertisement.title }}</h1>
          </div>
          <div class="compensation-wrapper">
            <h5>&euro; {{ advertisement.compensation || 20 }},- per week</h5>
          </div>
          <div class="subtitle-wrapper">
            <h5 class="medium-heading">looptijd: {{ advertisement.duration || 4 }} weken</h5>
          </div>
          <div class="description-wrapper">
            <div class="title-wrapper">
              <h4>Bijzonderheden</h4>
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at consequat orci. Nulla at consectetur
              tortor. Nam volutpat nulla metus, et suscipit nulla pharetra sed. Maecenas porttitor nec sapien in
              vestibulum.
            </p>
          </div>
        </b-col>
        <b-col
          md="7"
          lg="6"
          offset-lg="1">
          <div class="form-wrapper">
            <div class="personal-info-wrapper section-end">
              <div class="title-wrapper">
                <h4>Je gegevens:</h4>
              </div>
              <div class="description-wrapper">
                <span>{{ fullName }}</span>
                <span>{{ customerInformation['address'] }}</span>
                <span>{{ customerInformation['zipcode'] }}</span>
                <span>Rekeningnummer: {{ customerInformation['iban'] }}</span>
              </div>
            </div>
            <div class="date-wrapper section-end">
              <div class="title-wrapper">
                <h4>Kies de gewenste startdatum</h4>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  type="date"
                  class="date-icon"
                  v-model="formData.startDate"
                />
              </div>
              <div class="description-wrapper">
                <p>Berekende einddatum: {{ getEndDate }}</p>
              </div>
            </div>
            <div class="license-wrapper section-end">
              <div class="title-wrapper">
                <h4>Met welk kenteken wil je aanmelden?</h4>
              </div>
              <!--<div class="input-wrapper">-->
              <b-form-checkbox-group
                v-model="formData.cars">
                <div
                  class="input-wrapper"
                  v-for="(car, key) in cars"
                  :key="key">
                  <b-form-checkbox :value="car">
                    {{ car }}
                  </b-form-checkbox>
                </div>
              </b-form-checkbox-group>
              <!--</div>-->
            </div>
            <div class="location-wrapper">
              <div class="title-wrapper">
                <h4>Waar staat de auto op de gewenste startdatum?</h4>
              </div>
              <div class="description-wrapper">
                <p>Vul hieronder het adres in waar Sloesh de auto kan gaan bestikkeren.</p>
              </div>
              <div class="checkbox-wrapper">
                <b-form-checkbox
                  :checked="true"
                  :unchecked="false"
                  v-model="formData.useHomeAddress">
                  Gebruik huisadres
                </b-form-checkbox>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Straat & huisnummer"
                  v-model="formData.address"
                  :disabled="formData.useHomeAddress"/>
              </div>
              <div class="input-wrapper">
                <b-form-input
                  placeholder="Plaats"
                  v-model="formData.city"
                  :disabled="formData.useHomeAddress"/>
              </div>
            </div>
            <div class="button-wrapper text-right">
              <a
                href="#"
                @click.prevent.stop="subscribeToAdvertisment"
                class="btn btn-md custom-button cta-button-ghost"> {{ 'Aanmelden' | toUpperCase }}
              </a>
            </div>
          </div>
        </b-col>
      </div>
    </div>
  </div>
</template>

<!--suppress JSCheckFunctionSignatures -->
<script>
  import { subscribeAdvertisement } from '@/services/advertisementService'
  import { fetchSupportedCars } from '@/services/carService'
  import { advertisementDetailText } from '../../text/advertisement/index'
  import { toUpperCase } from '../../../../helpers/stringFilters'

  export default {
    name: 'AdvertisementDetail',
    filters: { toUpperCase },
    props: {
      advertisement: {
        type: Object,
        default: () => {
          return {}
        },
        required: true
      }
    },
    data () {
      return {
        customerInformation: {},
        cars: [],
        formData: {
          useHomeAddress: false,
          address: '',
          city: '',
          startDate: moment().format('YYYY-MM-DD'),
          cars: []
        }
      }
    },
    methods: {
      async subscribeToAdvertisment () {
        if (!this.$store.getters['auth/userId'] || !this.advertisement || !this.advertisement['id']) {
          VueEventListener.fire('errorMessage', 'An unexpected error has occurred, please try again later..')
          return
        }

        await subscribeAdvertisement(
          {
            advertisementId: this.advertisement['id'],
            ...this.formData
          }, () => this.$router.push({ name: 'AdvertisementOverview' }),
          (error) => VueEventListener.fire('errorMessage', error))
      },
      async getCars () {
        if (!this.$store.getters['auth/userId']) {
          return
        }

        const data = await fetchSupportedCars({
          id: this.advertisement['id']
        })
        this.customerInformation = data['customerInformation']
        this.cars = data['cars'].map(x => x.licensePlate)
      }
    },
    computed: {
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      },
      textData () {
        return advertisementDetailText
      },
      getHeaderPhoto () {
        const advertisement = this.advertisement.image || '/static/img/products/nike_shoe.jpg'
        return 'background-image: url(\'/static/img/backgrounds/img_heading_overlay.svg\'), url(\'' + advertisement + '\')'
      },
      fullName () {
        return `${this.customerInformation['firstName']} ${this.customerInformation['lastName']}`
      },
      getEndDate () {
        const startDate = moment(this.formData.startDate)
        if (!startDate.isValid()) {
          return 'onbekend'
        }
        const endDate = startDate.add(this.advertisement['duration'], 'weeks').format('dddd DD MMMM YYYY')

        return `rond ${endDate}`
      }
    },
    created () {
      if (!Object.keys(this.advertisement).length || !this.isAuthenticated) {
        const callback = () => this.$router.push({ name: 'AdvertisementDetail', params: { advertisement: this.advertisement } })
        this.$router.push(
          {
            name: 'Login',
            params: { callback }
          }
        )
      }
    },
    async beforeMount () {
      if (this.isAuthenticated) { this.getCars() }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .advertisement-detail-wrapper {
    & > .header {
      height: 33vw;
      min-height: 498px;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center bottom, center bottom;
      background-size: cover;
      color: #fff;

      @include media-breakpoint-down(md) {
        height: 50.6vw;
        min-height: 390px;
        background-position: center bottom, 40% bottom;
      }

      @include media-breakpoint-down(sm) {
        min-height: 199px;
        height: 62vw;
        background-size: cover, auto 80%;
        background-position: left bottom, 40% 100%;
      }
    }

    & > .content-wrapper {
      padding-top: 67px;
      padding-bottom: 154px;

      @include media-breakpoint-down(md) {
        padding-top: 34px;
        padding-bottom: 163px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 29px;
        padding-bottom: 145px;
      }

      & > div {
        & > .text-wrapper {
          & > .compensation-wrapper {
            background-color: $color-persian-green;
            display: inline-block;
            border-radius: 20px;
            color: #fff;
            padding: 9px 15px;
            margin-top: 10px;
            margin-bottom: 9px;

            & > h5 {
              font-size: 17px;
              font-weight: 700;
              margin-bottom: 0;
            }
          }

          & > .subtitle-wrapper {
            margin-bottom: 48px;

            & > h5 {
              color: $color-persian-green;
              font-size: 19px;
            }
          }
        }

        & > div > .form-wrapper {
          padding: 20px 48px 40px 36px;

          @include media-breakpoint-down(sm) {
            padding: 18px 15px 34px;
          }

          .input-wrapper {
            margin-bottom: 14px;

            & > .form-control {
              color: #000;

              &::placeholder {
                color: #000;
              }
            }
          }

          & > .personal-info-wrapper {
            padding-bottom: 28px;

            @include media-breakpoint-down(sm) {
              padding-bottom: 14px;
            }

            & > .description-wrapper {
              & > span {
                display: block;
              }
            }
          }

          & > .date-wrapper {
            padding-top: 5px;
            padding-bottom: 26px;

            @include media-breakpoint-down(sm) {
              padding-bottom: 0;
            }

            & > .title-wrapper {
              margin-top: 5px;
            }

            & > .input-wrapper {
              margin-bottom: 8px;
              margin-top: 12px;
            }

            & > .description-wrapper {
              color: #848484;
              font-weight: 700;
            }
          }

          & > .license-wrapper {
            padding-top: 5px;
            padding-bottom: 34px;

            @include media-breakpoint-down(sm) {
              padding-bottom: 28.5px;
            }
          }

          & > .location-wrapper {
            padding-top: 5px;
            padding-bottom: 24px;

            & > .checkbox-wrapper {
              margin-bottom: 27px;
              padding-left: 15px;
            }
          }
        }
      }
    }
  }

</style>
