<template>
  <div class="header-wrapper container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="title-wrapper text-center">
      <h1>Je hebt <span>gezocht op</span></h1>
    </div>
    <div class="form-wrapper">
      <b-form-group v-if="!isAuthenticated">
        <b-form-input
          v-model.trim="zipCode"
          :placeholder="getText('zipCode')"
          class="zip-code"
        />
      </b-form-group>
      <b-form-group v-if="!isAuthenticated">
        <b-form-input
          v-model.trim="licensePlate"
          :placeholder="getText('licensePlate')"
          class="license-plate"
        />
      </b-form-group>
      <div class="button-wrapper d-inline">
        <router-link
          :to="{name: 'AdvertisementOverview', params: {zipCode, licensePlate}}"
          class="btn btn-md custom-button cta-button-ghost">{{ 'Opnieuw Zoeken' | toUpperCase }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import { toUpperCase } from '../../../../helpers/stringFilters'

  export default {
    name: 'AdvertisementHeader',
    props: {
      licensePlate: {
        type: String,
        required: true,
        default: ''
      },
      zipCode: {
        type: String,
        required: true,
        default: ''
      }
    },
    filters: { toUpperCase },
    computed: {
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      }
    },
    created () {
      if (!this.isAuthenticated && (!this.zipCode || !this.licensePlate)) {
        this.$router.push('/')
      }
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .header-wrapper {
    height: 24vw;
    min-height: 358px;
    width: 100%;
    /* Center and scale the image nicely */
    background-image: url("/static/img/backgrounds/img_heading_overlay.svg"), url("/static/img/backgrounds/img_header_1.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center 35%;
    background-size: auto auto, cover;
    color: #fff;

    @include media-breakpoint-down(md) {
      min-height: 404px;
      height: 51.8vw;
      background-position: left bottom, center 35%;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 67px;
      padding-bottom: 50px;
      min-height: 440px;
      height: 1.92vw;
      background-image: url("/static/img/backgrounds/img_header_1_small.jpg");
      background-size: cover;
    }

    & > .title-wrapper {
      font-family: 'Bree Serif', serif;
      & > h1 {
        font-size: 24px;
        color: #fff;

        @include media-breakpoint-down(sm) {
          font-size: 40px;
          margin-bottom: 17px;

          & > span {
            display: inline-block;
          }
        }
      }
    }

    & > .form-wrapper {
      margin-top: 28px;
      padding: 17px 24px;
      border-radius: 5px;
      background-color: rgba(0, 0, 0, 0.36);

      @include media-breakpoint-down(sm) {
        margin-top: 0px;
        padding: 7px;

        & > .button-wrapper {
          width: 100%;

          & > .btn {
            width: 100%;
          }
        }
      }

      & > .form-group {
        display: inline;
        margin-right: 25px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm) {
          width: 100%;
          margin-right: 0;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }

        .form-control {
          height: 54px;
          color: #A9A9A9;
          font-weight: 700;
          border: 0;

          &::placeholder {
            color: #A9A9A9;
            font-weight: 700;
          }

          &.zip-code {
            width: 176px;

            @include media-breakpoint-down(sm) {
              width: 100%;
            }
          }

          &.license-plate {
            width: 251px;
            border: 2px solid #000;
            position: relative;
            background: #FFC900 url("/static/img/form/license-nl.svg") no-repeat 0 0;
            background-size: contain;
            padding-left: 44px;
            height: 56px;

            @include media-breakpoint-down(sm) {
              width: 100%;
            }

            &::placeholder {
              color: #5B5B5B;
            }
          }
        }
      }
    }
  }
</style>
