<template>
  <div class="advertisement-wrapper">
    <AdvertisementHeader
      :zip-code="zipCode"
      :license-plate="licensePlate"/>
    <div class="container">
      <div class="title-wrapper">
        <h4>{{ advertisements.length }} campagnes gevonden in je buurt geschikt voor de {{ licensePlate }}</h4>
      </div>
      <div
        class="button-wrapper"
        @click="openFilter">
        <a class="btn btn-md custom-button button-filter">{{ 'Toon Filters' | toUpperCase }}</a>
      </div>
      <div
        class="filter-wrapper"
        :class="filterActiveClass">
        <div
          class="close-wrapper"
          :class="filterActiveClass">
          <span
            class="color-pumpkin"
            @click="closeFilter">Filters sluiten <i class="close-icon"/></span>
        </div>
        <div
          class="filter compensation-filter">
          <label for="compensation">Inkomsten</label>
          <VueSlider
            id="compensation"
            @change="checkSliderValues"
            :min="minMaxCompensation[0]"
            :max="minMaxCompensation[1]"
            width="153px"
            tooltip="always"
            v-model="filters.compensation"
            :tooltip-formatter="priceFormatter"
            :process-style="{backgroundColor: '#00A59A'}"
          />
        </div>
        <b-dropdown
          v-if="availableBadges.length > 0"
          class="filter type-filter"
          variant="link"
          offset="-20px"
        >
          <template slot="button-content">
            {{ filters.activeBadge || 'Alle soorten' }}
          </template>
          <b-dropdown-item
            class="circle"
            v-for="badge in availableBadges"
            :key="badge.description"
            :class="`circle-${badge.color}`"
            @click="activeBadge = badge.description"
          >
            {{ badge.description }}
          </b-dropdown-item>
        </b-dropdown>
        <div
          class="filter type-filter"
          v-else>
          Alle soorten
        </div>
        <div
          class="filter car-filter"
          v-if="isAuthenticated">
          <div v-if="advertisementData && advertisementData.cars.length > 1">
            <label for="car">Geschikt voor mijn auto's</label>
            <input
              v-model="filters.filteredCars"
              id="car"
              class="apple-switch"
              type="checkbox">
          </div>
          <b-dropdown
            variant="link"
            v-if="advertisementData && advertisementData.cars.length > 1"
          >
            <template slot="button-content">
              {{ filters.activeCar }}
            </template>
            <b-dropdown-item
              v-for="(car, carKey) in advertisementData.cars"
              :key="carKey"
              v-if="filters.activeCar !== car.licensePlate"
              @click="filters.activeCar = car.licensePlate"
            >
              {{ car.licensePlate }}
            </b-dropdown-item>
          </b-dropdown>
          <div v-else-if="(advertisementData || {}).cars">
            {{ cars[0].licensePlate }}
          </div>
        </div>
        <div
          class="button-wrapper"
          :class="filterActiveClass">
          <a class="btn btn-md custom-button cta-button-ghost">{{ 'Toon resultaten' | toUpperCase }}</a>
        </div>
      </div>
      <div class="row">
        <AdvertisementItem
          v-for="(advertisement, key) in filteredAdvertisements"
          :key="key"
          :advertisement="advertisement"
        />
      </div>
    </div>
  </div>
</template>

<script>
  import 'vue-slider-component/theme/default.css'
  import { fetchAdvertisements, fetchAdvertisementsNoValidation } from '../../../../services/advertisementService'
  import { advertisementIndexText } from '../../text/advertisement/index'
  import AdvertisementHeader from './Header'
  import VueSlider from 'vue-slider-component'
  import AdvertisementItem from './AdvertisementItem'
  import { toUpperCase } from '../../../../helpers/stringFilters'

  export default {
    name: 'AdvertisementIndex',
    components: { AdvertisementItem, AdvertisementHeader, VueSlider },
    filters: { toUpperCase },
    props: {
      zipCode: {
        type: String,
        default: ''
      },
      licensePlate: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        filters: {
          compensation: [0, 0],
          activeBadge: undefined,
          activeCar: '',
          filteredCars: false
        },
        loading: true,
        showFilter: false,
        advertisementData: undefined
      }
    },
    methods: {
      priceFormatter (value) {
        return '€' + value
      },
      closeFilter () {
        this.showFilter = false
      },
      openFilter () {
        this.showFilter = true
      },
      filterCompensation (advertisements) {
        const [min, max] = this.filters.compensation
        return advertisements.filter(adv => {
          return adv.compensation >= min && adv.compensation <= max
        })
      },
      filterActiveBadge (advertisements) {
        if (this.availableBadges) {
          return advertisements.filter(adv => {
            return adv.badge.description === this.activeBadge
          })
        }
        return advertisements
      },
      findBadge (badges, toFind) {
        for (let j = 0; j < badges.length; ++j) {
          if (badges[j].color === toFind.color && badges[j].description === toFind.description) {
            j = badges.length
            return true
          }
        }
        return false
      },
      checkSliderValues () {
        if (this.filters.compensation[0] < this.minMaxCompensation[0]) {
          this.filters.compensation[0] = this.minMaxCompensation[0]
        }
        if (this.filters.compensation[1] < this.minMaxCompensation[1]) {
          this.filters.compensation[1] = this.minMaxCompensation[1]
        }
      }
    },
    computed: {
      isAuthenticated () {
        return this.$store.getters['auth/isAuthenticated']
      },
      textData () {
        return advertisementIndexText
      },
      filterActiveClass () {
        return this.showFilter ? 'active' : ''
      },
      groupedByCarType () {
        const result = {}
        for (let advertisement of this.advertisements) {
          for (let carType of advertisement.carTypes) {
            if (!(carType.name in result)) {
              result[carType.name] = [advertisement]
            } else {
              result[carType.name].push(advertisement)
            }
          }
        }
        return result
      },
      filteredAdvertisements () {
        let advertisements = this.filterCompensation(this.advertisements)
        return this.activeBadge ? this.filterActiveBadge(advertisements) : advertisements
      },
      minMaxCompensation () {
        let minMax = [99999, -1]
        for (let advertisement of this.advertisements) {
          if (advertisement.compensation < minMax[0]) minMax[0] = advertisement.compensation
          if (advertisement.compensation > minMax[1]) minMax[1] = advertisement.compensation
        }
        return minMax
      },
      availableBadges () {
        const badges = []
        for (let i = 0; i < this.filteredAdvertisements.length; ++i) {
          const toFind = this.filteredAdvertisements[i].badge
          if (toFind && !this.findBadge(badges, toFind)) {
            badges.push(toFind)
          }
        }
        return badges
      },
      advertisements () {
        if (this.isAuthenticated && this.advertisementData) {
          return this.filters.filteredCars ? this.advertisementData['userAdvertisements'] : this.advertisementData['advertisements']
        }
        return this.advertisementData || []
      }
    },
    async created () {
      if (!this.isAuthenticated && (!this.$route.params['zipCode'] || !this.$route.params['licensePlate'])) {
        this.$router.go(-1)
      }
      this.advertisementData = this.isAuthenticated ? await fetchAdvertisements() : await fetchAdvertisementsNoValidation({
        licensePlate: this.licensePlate,
        zipCode: this.zipCode
      })
      if (this.isAuthenticated) this.filters.activeCar = (this.advertisementData['cars'][0] || {}).licensePlate
      this.loading = false
      this.filters.compensation = this.minMaxCompensation
    }
  }
</script>

<style lang="scss">
  @import "../../../../assets/scss/frontoffice/prerequisites";

  .advertisement-wrapper {
    & > .container {
      & > .title-wrapper {
        margin-top: 37px;
        margin-bottom: 58px;

        @include media-breakpoint-down(sm) {
          margin-top: 15px;
          margin-bottom: 17px;
        }
      }

      & > .button-wrapper {
        display: none;

        @include media-breakpoint-down(sm) {
          margin-bottom: 55px;
          display: block;

          & > .btn {
            width: 100%;
          }
        }
      }

      & > .filter-wrapper {
        padding-bottom: 16px;
        width: 100%;
        display: flex;
        flex-flow: wrap;

        @include media-breakpoint-down(sm) {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-color: #fff;
          padding-top: 16px;
          padding-left: 15px;
          padding-right: 15px;
          display: block;
          opacity: 0;
          z-index: -1;
          animation: fadeOutRight 1s;
          transition: all 1s;

          &.active {
            opacity: 1;
            z-index: 9999;
            animation: fadeInRight 1s;
          }
        }

        & > .close-wrapper {
          display: none;

          @include media-breakpoint-down(sm) {
            text-align: right;
            margin-bottom: 57px;

            &.active {
              display: block;
            }
          }
        }

        & > .filter {
          background-color: $color-ghost-white;
          border-radius: 25px;
          height: 46px;
          display: flex;
          align-items: center;

          @include media-breakpoint-down(sm) {
            flex-flow: wrap;
            margin-right: 0;
          }

          &:not(:last-child) {
            margin-right: 21px;
          }

          & > label {
            margin-bottom: 0;
          }

          .dropdown-toggle {
            padding: 0;
            text-decoration: none;
            color: #000;
            position: relative;
            min-width: 144px;
            text-align: left;

            @include media-breakpoint-down(sm) {
              width: 100%;
              text-align: left;
            }

            &::after {
              position: absolute;
              right: 0;
              border: 0;
              content: url("/static/img/form/icon_down_big_orange.svg");
              vertical-align: 0;
              padding-right: 22px;

              @include media-breakpoint-down(sm) {
                /*margin-left: 158px;*/
              }
            }
          }

          .dropdown-menu {
            background: $color-ghost-white;
            box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.19);
            font-size: 16px;
            color: #000;
            line-height: 34px;
            border: 0;
            right: 0;

            & > .dropdown-item {
              padding-left: 18px;
              &.circle {
                position: relative;
                padding-left: 37px;
                &::after {
                  content: '';
                  border-radius: 50%;
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  top: calc(50% - 6.5px);
                  left: 18px;
                }
                &.circle-green::after {
                  background-color: $color-malachite;
                }
                &.circle-blue::after {
                  background-color: $color-dodger-blue;
                }
              }
            }
          }

          &.compensation-filter {
            padding: 12px 25px 10px 18px;

            @include media-breakpoint-down(sm) {
              margin-bottom: 21px;
            }

            & > label {
              padding-right: 16px;
            }

            & > .vue-slider {
              display: inline-block;
              width: 153px;
              vertical-align: middle;

              .vue-slider-dot-tooltip-top {
                top: 0;

                .vue-slider-dot-tooltip-inner {
                  background-color: transparent;
                  color: $color-persian-green;
                  font-size: 12px;

                  &:after {
                    border: 0;
                  }
                }
              }
            }
          }

          &.type-filter {
            padding: 10px 22px 10px 20px;
          }

          &.car-filter {
            padding: 13px 21px 13px 19px;

            @include media-breakpoint-down(sm) {
              height: 82px;
            }

            @include media-breakpoint-down(md) {
              margin-top: 23px;
            }

            & > div {
              display: flex;
              align-items: center;

              & > label {
                margin-right: 9px;
                margin-bottom: 0;
              }

              & > .apple-switch {
                margin-right: 34px;
              }
            }

            & > .dropdown {
              @include media-breakpoint-down(sm) {
                margin-top: 10px;
                width: 100%;
              }

              & > .dropdown-toggle {
                min-width: 120px;
              }
            }
          }
        }

        & > .button-wrapper {
          display: none;

          @include media-breakpoint-down(sm) {
            margin-top: 27px;

            &.active {
              display: block;
            }

            & > .btn {
              width: 100%;
            }
          }
        }
      }

      & > .row {
        padding-bottom: 238px;

        @include media-breakpoint-down(md) {
          padding-bottom: 206px;
        }

        @include media-breakpoint-down(sm) {
          padding-bottom: 138px;
        }
      }
    }
  }
</style>
