<template>
  <b-row>
    <b-col cols="12">
      <b-card :header="getText('create') + ' ' + getText('admin')">
        <form-builder :input-fields="inputFields"/>

        <b-btn
          variant="primary"
          :disabled="blockSubmission"
          v-show="!blockSubmission"
          @click.stop.prevent="submit">{{ getText('create') }}</b-btn>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import {createAdmin} from '../../../../services/adminUpdateService'
  import InputFields from '@/models/inputFields/createAdmin'
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import {adminCreateText} from '../../text/admin/admins'

  export default {
    name: 'AdminCreate',
    components: {FormBuilder},
    data () {
      return {
        inputFields: InputFields,
        blockSubmission: true,
        formData: undefined
      }
    },
    methods: {
      async submit () {
        if (this.blockSubmission) {
          return
        }

        await createAdmin(
          this.formData, () => this.$router.push({name: 'AdminIndex'}))
      }
    },
    computed: {
      textData () { return adminCreateText }
    }
  }
</script>

<style scoped>

</style>
