<template>
  <b-row>
    <b-col cols="12">
      <b-card header="Edit Admin">
        <table class="table">
          <tr
            v-for="key in Object.keys(personalInfo)"
            :key="key">
            <th>{{ key | camelcaseToSpaceSeparated | capitalize }}</th>
            <td>
              <b-form-checkbox
                v-if="typeof personalInfo[key] === 'boolean'"
                v-model="personalInfo[key]"
                :value="true"
                :unchecked-value="false">&nbsp;
              </b-form-checkbox>
              <span v-else-if="nonEditable.includes(key)">{{ personalInfo[key] }}</span>
              <b-form-input
                v-model.trim="personalInfo[key]"
                v-else/>
            </td>
          </tr>
        </table>
        <b-btn
          variant="primary"
          :disabled="isOriginal"
          v-show="!isOriginal"
          @click.stop.prevent="submit">Update
        </b-btn>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import { updateAdmin } from '../../../../services/adminUpdateService'
  import { camelcaseToSpaceSeparated, capitalize } from '../../../../helpers/stringFilters'

  export default {
    name: 'AdminEdit',
    props: {
      user: {
        type: Object,
        default () {
          return {}
        },
        required: true
      }
    },
    data () {
      return {
        nonEditable: ['userId'],
        originalData: undefined,
        personalInfo: undefined
      }
    },
    methods: {
      async submit () {
        if (this.isOriginal || !this.$store.getters['auth/userId']) {
          return
        }

        await updateAdmin(
          {
            ...this.personalInfo,
            adminId: this.$store.getters['auth/userId']
          },
          () => this.$router.push({name: 'AdminIndex'})
        )
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize
    },
    computed: {
      isOriginal () {
        return JSON.stringify(this.originalData) === JSON.stringify(this.personalInfo)
      }
    },
    created () {
      if (!this.user || !Object.keys(this.user).length) {
        this.$router.push({name: 'AdminIndex'})
      }
      this.personalInfo = this.user
      this.originalData = Object.assign({}, this.user)
    }
  }
</script>

<style scoped>

</style>
