<template>
  <b-row>
    <b-col cols="12">
      <transition name="slide">
        <b-card :header="getText('captionPrepend') + caption">
          <b-row>
            <b-col
              cols="12"
              class="my-1">
              <b-button
                variant="success"
                class="float-right"
                :to="{name: 'AdminCreate'}">{{ getText('create') }} {{ getText('admin') }}</b-button>
            </b-col>
          </b-row>
          <b-row v-if="!!items.length">
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('filter')"
                class="mb-0">
                <b-input-group>
                  <b-form-input
                    v-model="filter"
                    :placeholder="getText('searchPlaceholder')"/>
                  <b-input-group-append>
                    <b-btn
                      :disabled="!filter"
                      @click="filter = ''">{{ getText('clear') }}
                    </b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('sort')"
                class="mb-0">
                <b-input-group>
                  <b-form-select
                    v-model="sortBy"
                    :options="sortOptions">
                    <option
                      slot="first"
                      :value="null">-- {{ getText('none') }} --
                    </option>
                  </b-form-select>
                  <b-form-select
                    :disabled="!sortBy"
                    v-model="sortDesc"
                    slot="append">
                    <option :value="false">{{ getText('asc') }}</option>
                    <option :value="true">{{ getText('desc') }}</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('sortDirection')"
                class="mb-0">
                <b-input-group>
                  <b-form-select
                    v-model="sortDirection"
                    slot="append">
                    <option value="asc">{{ getText('asc') }}</option>
                    <option value="desc">{{ getText('desc') }}</option>
                    <option value="last">{{ getText('last') }}</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col
              md="6"
              class="my-1">
              <b-form-group
                label-cols="3"
                :label="getText('perPage')"
                class="mb-0">
                <b-form-select
                  :options="pageOptions"
                  v-model="perPage"/>
              </b-form-group>
            </b-col>
          </b-row>

          <b-table
            :fields="!!items.length ? fields : []"
            hover
            striped
            bordered
            small
            fixed
            responsive="sm"
            :current-page="currentPage"
            :items="dangerRowVariant"
            :per-page="perPage"
            show-empty
            :filter="filter"
            @row-clicked="rowClicked"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered">
            <template
              slot="lockedOut"
              slot-scope="data">
              <i :class="getIcon(data.item['isLockedOut'])"/>
            </template>
          </b-table>
          <nav>
            <b-pagination
              size="sm"
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              prev-text="Prev"
              next-text="Next"
              hide-goto-end-buttons/>
          </nav>
        </b-card>
      </transition>
    </b-col>
  </b-row>
</template>

<script>
  import {fetchAdmins} from '../../../../services/adminFetchService'
  import {adminIndexText} from '../../text/admin/admins'

  export default {
    name: 'AdminIndex',
    data: () => {
      return {
        caption: 'Users',
        fields: [
          {
            key: 'userName',
            label: 'User name',
            sortable: true
          },
          {
            key: 'displayName',
            label: 'Display name',
            sortable: true
          },
          {
            key: 'isLockedOut',
            label: 'Is locked out',
            sortable: true
          }
        ],
        items: [],
        currentPage: 1,
        perPage: 5,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        totalRows: 0
      }
    },
    methods: {
      getIcon (status) {
        const iconPrefix = 'icon-'
        if (status) {
          return iconPrefix + 'check'
        }

        return iconPrefix + 'close'
      },
      rowClicked (item) {
        this.$router.push({name: 'AdminEdit', params: {user: item}})
      },
      onFiltered (filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    computed: {
      sortOptions () {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      },
      getRowCount () {
        return this.items.length
      },
      dangerRowVariant () {
        if (!this.items) {
          return
        }

        let res = []
        for (let item of this.items) {
          if (item['lockedOut']) {
            item['_rowVariant'] = 'danger'
          }

          res.push(item)
        }
        return res
      },
      textData () { return adminIndexText }
    },
    async beforeCreate () {
      this.items = await fetchAdmins() || []
      this.caption = this.getText('admin') + 's'
      this.fields[0].label = this.getText('userName')
      this.fields[1].label = this.getText('displayName')
      this.fields[2].label = this.getText('isLockedOut')
    }
  }
</script>

<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
