<template>
  <b-row>
    <b-col cols="12">
      <b-card :header="getText('create') + ' ' + getText('carType')">
        <form-builder :input-fields="inputFields"/>

        <b-btn
          variant="primary"
          :disabled="blockSubmission"
          v-show="!blockSubmission"
          @click.stop.prevent="submit">{{ getText('create') }}
        </b-btn>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import {createCarType} from '@/services/carTypeAdminService'
  import InputFields from '@/models/inputFields/createCarType'
  import FormBuilder from '@/components/backoffice/form/FormBuilder'
  import {carTypeCreateText} from '../../text/admin/carTypes'

  export default {
    name: 'CarTypeCreate',
    components: {FormBuilder},
    props: {
      rejectionMessage: {
        type: String,
        default: '',
        required: false
      }
    },
    data () {
      return {
        inputFields: InputFields,
        blockSubmission: true,
        formData: undefined
      }
    },
    methods: {
      async submit () {
        if (this.blockSubmission) {
          return
        }

        await createCarType(
          this.formData,
          () => this.$router.push({ name: 'CarTypeIndex' }),
          this.handleError
        )
      }
    },
    computed: {
      textData () { return carTypeCreateText }
    },
    watch: {
      validImage: {
        handler: function () {
          this.blockSubmission = !this.validImage
        },
        deep: true
      }
    }
  }
</script>

<style scoped>

</style>
