<template>
  <b-row>
    <b-col cols="8">
      <b-card
        :header="getText('edit') + ' ' + getText('carType')"
        v-if="carType">
        <table class="table">
          <tr>
            <th>Id</th>
            <td>{{ carType['id'] }}</td>
          </tr>
          <tr>
            <th>{{ getText('name') }}</th>
            <td>
              <b-form-input
                v-model.trim="carType['name']"/>
              <span
                v-show="!validName"
                class="validation-warning col-12">{{ getText('errorMessages')['invalidName'] }}</span>
            </td>
          </tr>
          <tr>
            <th>{{ getText('description') }}</th>
            <td>
              <b-form-input
                v-model.trim="carType['description']"/>
              <span
                v-show="!validName"
                class="validation-warning col-12">{{ getText('errorMessages')['invalidName'] }}</span>
            </td>
          </tr>
          <b-btn
            variant="primary"
            :disabled="isOriginal"
            v-show="!isOriginal"
            @click.stop.prevent="submit">{{ getText('update') }}
          </b-btn>
        </table>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
  import { camelcaseToSpaceSeparated, capitalize } from '@/helpers/stringFilters'
  import { updateCarType } from '@/services/carTypeAdminService'
  import { validDisplayNameRegex } from '../../../../helpers/formConstants'
  import { carTypeEditText } from '../../text/admin/carTypes'

  export default {
    name: 'CarTypeEdit',
    props: {
      item: {
        type: Object,
        default: () => {
          return {}
        },
        required: true
      }
    },
    data () {
      return {
        originalData: undefined,
        carType: undefined
      }
    },
    methods: {
      async setOriginalData () {
        if (!this.item || !this.$store.getters['auth/userId']) {
          this.$router.go(-1)
          return
        }
        this.carType = Object.assign({}, this.item)
        this.originalData = Object.assign({}, this.carType)
      },
      async submit () {
        if (!this.isValid) {
          return
        }

        await updateCarType(
          this.carType,
          () => this.$router.push({name: 'CarTypeIndex'}),
          this.handleError
        )
      }
    },
    filters: {
      camelcaseToSpaceSeparated,
      capitalize
    },
    computed: {
      isOriginal () {
        return JSON.stringify(this.originalData) === JSON.stringify(this.carType)
      },
      validName () {
        if (typeof this.carType['name'] !== 'string') {
          return false
        }

        return validDisplayNameRegex.test(this.carType['name'])
      },
      isValid () {
        return !this.isOriginal && this.validName
      },
      textData () {
        return carTypeEditText
      }
    },
    async created () {
      await this.setOriginalData()
    }
  }
</script>

<style scoped>

</style>
