<template>
  <div class="frontoffice-wrapper">
    <navbar/>
    <router-view/>
    <custom-footer/>
  </div>
</template>

<script>
  import Navbar from './components/Navbar'
  import CustomFooter from './components/Footer'
  export default {
    name: 'DefaultContainer',
    components: { CustomFooter, Navbar }
  }
</script>

<style lang="scss">
  @import "../../../assets/scss/frontoffice/main.scss";

  .frontoffice-wrapper {
    height: 100%;
    /*width: 100%;*/
  }
</style>
