<template>
  <div>
    <div
      v-for="inputField in inputFields"
      :key="inputField.key">
      <b-form-group
        v-if="inputField instanceof FormRadio"
        :label="capitalizeSpaceSeparated(inputField.label)"
        class="mb-3">
        <b-form-radio-group
          class="col form-control"
          v-model="formData[inputField.key]"
          :class="invalidInputs[inputField.key].class">
          <b-form-radio
            v-for="(value, key) in inputField.options"
            :key="key"
            :value="key">{{ value }}
          </b-form-radio>
        </b-form-radio-group>
        <RequiredValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('required')"/>
      </b-form-group>
      <b-input-group
        class="mb-3"
        v-else-if="inputField instanceof FormInput">
        <b-input-group-prepend v-if="!!inputField.icon">
          <b-input-group-text>
            <i
              v-if="inputField.icon.indexOf('icon') !== -1"
              :class="inputField.icon"/>
            <span v-else>{{ inputField.icon }}</span>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          :type="inputField.type"
          class="form-control"
          :placeholder="inputField.placeholder || capitalizeSpaceSeparated(inputField.key)"
          :autocomplete="inputField.autocomplete"
          v-model.trim="formData[inputField.key]"
          :class="invalidInputs[inputField.key].class"/>
        <RequiredValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('required')"/>
        <PasswordValidation
          :value="formData[inputField.key]"
          :field="'password'"
          @validInput="setValidity"
          v-if="inputField.validations.includes('password')"/>
        <ConfirmPasswordValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          :check="formData.password"
          @validInput="setValidity"
          v-if="inputField.validations.includes('confirmPassword')"/>
        <EmailValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('email')"/>
        <DisplayNameValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('displayName')"/>
        <DateValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('date')"/>
        <AfterTodayValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('afterToday')"/>
        <DateCheckValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          :check="formData.start"
          @validInput="setValidity"
          v-if="inputField.validations.includes('dateCheck')"/>
      </b-input-group>
      <b-input-group
        class="mb-3"
        v-else-if="inputField instanceof FormNumber">
        <b-input-group-prepend v-if="!!inputField.icon">
          <b-input-group-text>
            <i
              v-if="inputField.icon.indexOf('icon') !== -1"
              :class="inputField.icon"/>
            <span v-else>{{ inputField.icon }}</span>
          </b-input-group-text>
        </b-input-group-prepend>
        <b-form-input
          type="number"
          :field="inputField.key"
          :step="inputField.step"
          :min="inputField.min"
          :max="inputField.max"
          class="form-control"
          v-model="formData[inputField.key]"
          :class="invalidInputs[inputField.key].class"/>
        <b-input-group-append>
          <b-input-group-text>
            <span>{{ inputField.key | camelcaseToSpaceSeparated | capitalize }}</span>
          </b-input-group-text>
        </b-input-group-append>
        <RequiredValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"
          v-if="inputField.validations.includes('required')"/>
        <NumberValidation
          :field="inputField.key"
          :value="formData[inputField.key]"
          :step="inputField.step"
          :min="inputField.min"
          :max="inputField.max"
          @validInput="setValidity"/>
      </b-input-group>
      <b-input-group
        class="mb-3"
        v-else-if="inputField instanceof FormOptions">
        <b-input-group-prepend v-if="!!inputField.icon">
          <b-input-group-text>
            <i
              v-if="inputField.icon.indexOf('icon') !== -1"
              :class="inputField.icon"/>
            <span v-else>{{ inputField.icon }}</span>
          </b-input-group-text>
        </b-input-group-prepend>

        <b-form-select
          v-model="formData[inputField.key]"
          :options="inputField.options"
          :class="invalidInputs[inputField.key].class">
          <template slot="first">
            <option
              :value="''"
              disabled>{{ inputField.key | camelcaseToSpaceSeparated | capitalize }}
            </option>
          </template>
        </b-form-select>

        <RequiredValidation
          :value="formData[inputField.key]"
          :field="inputField.key"
          @validInput="setValidity"/>
      </b-input-group>
      <b-input-group
        class="mb-3"
        v-else-if="inputField instanceof FormCheckbox">
        <b-input-group-prepend v-if="!!inputField.icon">
          <b-input-group-text>
            <i
              v-if="inputField.icon.indexOf('icon') !== -1"
              :class="inputField.icon"/>
            <span v-else>{{ inputField.icon }}</span>
          </b-input-group-text>
        </b-input-group-prepend>

        <b-form-checkbox
          v-model="formData[inputField.key]"
          :value="inputField.checked"
          :unchecked-value="inputField.unchecked">{{ inputField.label }}
        </b-form-checkbox>
      </b-input-group>
    </div>
  </div>
</template>

<script>
  import { FormCheckbox, FormInput, FormNumber, FormOptions, FormRadio } from '../../../models/Form.js'
  import { camelcaseToSpaceSeparated, capitalize } from '../../../helpers/stringFilters'

  import RequiredValidation from './validations/RequiredValidation'
  import PasswordValidation from './validations/PasswordValidation'
  import ConfirmPasswordValidation from './validations/ConfirmPasswordValidation'
  import EmailValidation from './validations/ValidEmailValidation'
  import BFormCheckbox from 'bootstrap-vue/src/components/form-checkbox/form-checkbox'
  import DisplayNameValidation from './validations/DisplayNameValidation'
  import DateValidation from './validations/DateValidation'
  import DateCheckValidation from './validations/DateCheckValidation'
  import NumberValidation from './validations/NumberValidation'
  import BInputGroupAppend from 'bootstrap-vue/src/components/input-group/input-group-append'
  import BInputGroupText from 'bootstrap-vue/src/components/input-group/input-group-text'
  import AfterTodayValidation from './validations/AfterTodayValidation'

  export default {
    name: 'FormBuilder',
    components: {
      AfterTodayValidation,
      BInputGroupText,
      BInputGroupAppend,
      NumberValidation,
      DateCheckValidation,
      DateValidation,
      DisplayNameValidation,
      BFormCheckbox,
      EmailValidation,
      RequiredValidation,
      PasswordValidation,
      ConfirmPasswordValidation
    },
    props: {
      inputFields: {
        type: Array,
        default: () => [],
        required: true
      }
    },
    data () {
      return {
        formData: {},
        invalidInputs: {}
      }
    },
    methods: {
      setValidity ([field, value]) {
        this.invalidInputs[field].status = value
        this.invalidInputs[field].class = (value) ? 'is-invalid' : 'is-valid'
        this.$parent.formData = this.formData
        this.$forceUpdate()
      },
      initializeFormData () {
        let formData = {}
        let temp = ''
        for (let inputField of this.inputFields) {
          formData[inputField.key] = inputField.value || inputField.initial()
          temp = inputField.validations.includes('required')
          this.$set(this.invalidInputs, inputField.key, {
            status: temp,
            class: temp ? '' : 'is-valid'
          })
        }
        this.formData = formData
      },
      capitalizeSpaceSeparated (value) {
        return capitalize(camelcaseToSpaceSeparated(value))
      }
    },
    filters: {
      capitalize,
      camelcaseToSpaceSeparated
    },
    watch: {
      invalidInputs: {
        handler () {
          for (let invalidInput in this.invalidInputs) {
            if (this.invalidInputs[invalidInput].status) {
              this.$parent.$data.blockSubmission = true
              return
            }
          }
          this.$parent.$data.blockSubmission = false
        },
        deep: true
      }
    },
    computed: {
      getCurrentDate () {
        return moment().toJSON()
      },
      FormRadio () {
        return FormRadio
      },
      FormOptions () {
        return FormOptions
      },
      FormInput () {
        return FormInput
      },
      FormCheckbox () {
        return FormCheckbox
      },
      FormNumber () {
        return FormNumber
      }
    },
    created () {
      this.initializeFormData()
    }
  }
</script>
