<template>
  <div>
    <IndexHeader/>
    <IndexAdvertisements/>
    <IndexInfographic/>
    <IndexFeatures/>
  </div>
</template>

<script>
  import IndexHeader from './components/Header'
  import IndexAdvertisements from './components/Advertisements'
  import IndexInfographic from './components/Infographic'
  import IndexFeatures from './components/Features'
  export default {
    name: 'Index',
    components: { IndexFeatures, IndexInfographic, IndexAdvertisements, IndexHeader }
  }
</script>

<style scoped>

</style>
